{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

    {% with current_page=request.resolver_match.url_name %}

        <ul class="nav nav-pills flex-column flex-md-row mb-4">
            <li class="nav-item">
                <a class="nav-link {% if current_page == 'profileSettings' %}active{% endif %}" href="{% url 'profileSettings' %}">
                    <i class="ti-xs ti ti-users me-1"></i> Hesap Ayarı
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if current_page == 'EducationSettings' %}active{% endif %}" href="{% url 'EducationSettings' %}">
                    <i class="fa fa-solid fa-graduation-cap me-1"></i> Eğitim Ayarı
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if current_page == 'AdditionalSettings' %}active{% endif %}" href="{% url 'AdditionalSettings' %}">
                    <i class="fa fa-solid fa-graduation-cap me-1"></i> Ek Bilgiler
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if current_page == 'profileDelete' %}active{% endif %}" href="{% url 'profileDelete' %}">
                    <i class="ti ti-trash-x"></i> Hesabı Sil
                </a>
            </li>
        </ul>
    {% endwith %}

        {% block profileSettings %}
    {% endblock %}

{% endblock %}
