{% extends 'partials/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'assets/vendor/css/pages/page-profile.css' %}" />
<link rel="stylesheet" href="{% static 'assets/fancybox/jquery.fancybox.min.css' %}">
{% block profile_css %}
{% endblock %}
{% endblock %}
{% block content %}
<!-- Header -->
<div class="row mt-8">
   <div class="col-12">
      <div class="card mb-6">
         <div class="user-profile-header d-flex flex-column flex-lg-row text-sm-start text-center mb-5">
            <div class="flex-shrink-0 mt-n2 mx-sm-0 mx-auto">
               {% if profile.profile_photo.profile_photo %}
               {% with profile_photo_url=profile.profile_photo.profile_photo.url %}

               <div class="gallery-container">
                  <div class="gallery-item">
                     <a href="{{ profile_photo_url }}" data-fancybox="profile-photo-{{ profile.username }}">
                        <img
                        src="{{ profile_photo_url }}"
                        alt="user image"
                        class="d-block h-auto ms-0 ms-sm-6 rounded user-profile-img" />
                        </a>
                  </div>
               </div>




               {% endwith %}
               {% else %}
               <!-- <span class="avatar-initial rounded-circle bg-warning">{{ user.first_name|first }}{{ user.last_name|first }}</span> -->
               <img
                  src="{% static 'assets/img/avatars/privacy.jpg' %}"
                  alt="user image"
                  class="d-block h-auto ms-0 ms-sm-6 rounded user-profile-img" />
               {% endif %}
            </div>
            <div class="flex-grow-1 mt-3 mt-lg-5">
               <div
                  class="d-flex align-items-md-end justify-content-md-between  mx-5 flex-md-row flex-column gap-4">
               <div class="user-profile-info">
                     <h4 class="mb-0 mt-lg-6">{{profile.first_name}} {{profile.last_name}} {% if profile.privacy.is_private %}<i class="ti ti-lock"></i>{%endif%}</h4>
                     <span data-bs-toggle="tooltip" data-bs-placement="top" title="Kullanıcı Adı">@{{profile.username}}</span>
                     <ul
                        class="list-inline mb-0 d-flex align-items-center flex-wrap justify-content-sm-start justify-content-center gap-4 my-2">
                        <li class="list-inline-item d-flex gap-2 align-items-center">
                           <i class="ti ti-building-bank ti-lg"></i><span class="fw-medium">{{profile.educational_information.university}}</span>
                        </li>
                        <li class="list-inline-item d-flex gap-2 align-items-center">
                           <i class="ti ti-address-book ti-lg"></i><span class="fw-medium">{{profile.educational_information.department}}</span>
                        </li>
                        <li class="list-inline-item d-flex gap-2 align-items-center">
                           <i class="ti ti-school ti-lg"></i><span class="fw-medium">{{profile.educational_information.status}}</span>
                        </li>
                     </ul>
                     <ul class="list-inline mb-0 d-flex align-items-center flex-wrap justify-content-sm-start justify-content-center gap-4 my-2">
                        <li class="list-inline-item d-flex gap-2 align-items-center">
                           {% if user == profile %}
                           <a href="{% url 'followers_profile' %}">
                           <span class="badge bg-label-success" id="follower-count"><strong>{{profile.followers.count}}</strong> Takipçi</span>
                           </a>
                           {%else%}
                           <span class="badge bg-label-success" id="follower-count"><strong>{{profile.followers.count}}</strong> Takipçi</span>
                           {%endif%}
                        </li>
                        <li class="list-inline-item d-flex gap-2 align-items-center">
                           {% if user == profile %}
                           <a href="{% url 'following_profile' %}">
                           <span class="badge bg-label-primary"><strong>{{profile.following.count}}</strong> Takip</span>
                           </a>
                           {%else%}
                           <span class="badge bg-label-primary"><strong>{{profile.following.count}}</strong> Takip</span>
                           {%endif%}
                        </li>
                     </ul>
                  </div>
                  <div class="ms-end">
                  {%if user.username == profile.username %}
                     <a href="{% url 'profile_settings' %}" class="btn btn-sm btn-primary mb-1 rounded-pill">
                        <i class="ti ti-settings  me-2"></i>Hesap Ayarları
                     </a>
                     <a href="{% url 'privacy_settings' %}" class="btn btn-sm btn-success mb-1 rounded-pill">
                        <i class="ti ti-lock me-2"></i>Gizlilik Ayarları
                     </a>
                  {%else%}
                  {% if request.user != profile %}
                     {% if followers %}
                        <button class="btn btn-sm btn-danger mb-1" id="follow-btn" data-user-id="{{ profile.id }}">
                           <i class="ti ti-user-x me-2"></i>Takibi Bırak
                        </button>
                        {% elif follow_requests %}
                           <button class="btn btn-sm btn-secondary mb-1" id="follow-btn" data-user-id="{{ profile.id }}">
                              <i class="ti ti-clock me-2"></i>İsteği İptal Et
                           </button>
                        {% else %}
                           <button class="btn btn-sm btn-primary mb-1" id="follow-btn" data-user-id="{{ profile.id }}">
                              <i class="ti ti-user-plus me-2"></i>Takip Et
                           </button>
                        {% endif %}
                     {% endif %}
                     {% if profile.privacy.message_privacy == 'everyone' %}
                        <a href="{% url 'start_chat' profile.username %}" class="btn btn-sm btn-success mb-1">
                           <i class="ti ti-mail-forward"></i>
                        </a>
                     {%elif profile.privacy.message_privacy == 'followers' %}
                        {% if followers %}
                           <a href="{% url 'start_chat' profile.username %}" class="btn btn-sm btn-success mb-1">
                              <i class="ti ti-mail-forward"></i>
                           </a>
                           {%endif%}
                     {%endif%}
                  {% endif %}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!--/ Header -->

{%if profile.privacy.is_private and profile != user and not followers  %}
<div class="alert alert-solid-danger d-flex align-items-center" role="alert">
   <span class="alert-icon rounded">
     <i class="ti ti-lock"></i>
   </span>
   Gizli Hesap Sadece Takipçileri Görüntüleyebilir.
 </div>
{%else %}
   {% block profile-nav %}
      {% include 'profiles/partials/profile-nav.html' %}            
   {% endblock %}

   {% block profile_content %}
   {% endblock %}
{%endif%}

{% endblock %}



{% block extra_javascript %}
<script src="{% static 'assets/fancybox/jquery.fancybox.min.js' %}"></script>

{% block profile_javascript %}

{%endblock%}
<script>
   $(document).ready(function(){
       $('#follow-btn').click(function(){
           var $btn = $(this);
           var $followerCount = $('#follower-count strong');
           var userId = $btn.data('user-id');
           
           $.ajax({
               url: "{% url 'toggle_follow' %}",
               type: "POST",
               data: {
                   'user_id': userId,
                   'csrfmiddlewaretoken': '{{ csrf_token }}'
               },
               success: function(response) {
                   if(response.status === 'followed') {
                       // Takip ediliyor durumu
                       $btn.removeClass('btn-primary').addClass('btn-danger');
                       $btn.find('i').removeClass('ti-user-plus').addClass('ti-user-x');
                       $btn.html('<i class="ti ti-user-x me-2"></i> Takibi Bırak');
                       
                       // Takipçi sayısını arttır
                       var count = parseInt($followerCount.text()) + 1;
                       $followerCount.text(count);
                   } else if(response.status === 'unfollowed') {
                       // Takip et durumu
                       $btn.removeClass('btn-danger').addClass('btn-primary');
                       $btn.find('i').removeClass('ti-user-x').addClass('ti-user-plus');
                       $btn.html('<i class="ti ti-user-plus me-2"></i> Takip Et');
                       
                       // Takipçi sayısını azalt
                       var count = parseInt($followerCount.text()) - 1;
                       $followerCount.text(count);
                  
                  } else if(response.status === 'cancel_request') {
                       // Takip et durumu
                       $btn.removeClass('btn-danger').addClass('btn-primary');
                       $btn.find('i').removeClass('ti-user-x').addClass('ti-user-plus');
                       $btn.html('<i class="ti ti-user-plus me-2"></i> Takip Et');

                   } else if(response.status === 'request_sent') {
                       // Takip isteği gönderildi durumu
                       $btn.removeClass('btn-primary').addClass('btn-secondary');
                       $btn.find('i').removeClass('ti-user-plus').addClass('ti-user-clock');
                       $btn.html('<i class="ti ti-clock me-2"></i> İsteği İptal Et');
                   } else if(response.status === 'already_requested') {
                       alert('Zaten takip isteği gönderildi.');
                   }
               },
               error: function() {
                   alert('Bir hata oluştu.');
               }
           });
       });
   });
</script>

{% endblock %}