<!-- Primary navbar -->
{% with current_page=request.resolver_match.url_name %}
<nav class="navbar navbar-expand-xl navbar-detached bg-navbar-theme mb-4">
   <div class="container-fluid">
      <span class="navbar-brand d-lg-none">
      {% if current_page == 'profile' %}
      Bilgi
      {% elif current_page == 'posts_profile' %}
      Gönderiler
      {% elif current_page == 'articles_profile' %}
      Makaleler
      {% elif current_page == 'marketplace_profile' %}
      İlanlar
      {% elif current_page == 'documents_profile' %}
      Ders Notları
      {% elif current_page == 'confessions_profile' %}
      İtiraflar
      {% elif current_page == 'questions_profile' %}
      Sorular
      {% endif %}
      </span>
      <button
         class="navbar-toggler"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#navbar-ex-7">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-ex-7">
         <ul class="nav nav-pills flex-column flex-sm-row gap-2 gap-lg-0">
            <li class="nav-item">
               <a class="nav-link {% if current_page == 'profile' %}active{% endif %}" href="{% url 'profile' username=profile.username %}"
                  ><i class="tf-icons navbar-icon ti ti-info-circle me-1"></i> Bilgi</a>
            </li>
            <li class="nav-item">
               <a class="nav-link {% if current_page == 'posts_profile' %}active{% endif %}" href="{% url 'posts_profile' username=profile.username %}"
                  ><i class="tf-icons navbar-icon ti ti-ballpen me-1"></i> Gönderiler</a>
            </li>
            <li class="nav-item">
               <a class="nav-link {% if current_page == 'articles_profile' %}active{% endif %}" href="{% url 'articles_profile' username=profile.username %}"
                  ><i class="tf-icons navbar-icon ti ti-blockquote me-1"></i> Makaleler</a>
            </li>
            <li class="nav-item">
               <a class="nav-link {% if current_page == 'marketplace_profile' %}active{% endif %}" href="{% url 'marketplace_profile' username=profile.username %}"
                  ><i class="tf-icons navbar-icon ti ti-building-store me-1"></i> İlanlar</a
                  >
            </li>
            <li class="nav-item">
               <a class="nav-link {% if current_page == 'documents_profile' %}active{% endif %}" href="{% url 'documents_profile' username=profile.username %}"
                  ><i class="tf-icons navbar-icon ti ti-notebook me-1"></i> Ders Notları</a
                  >
            </li>
            <li class="nav-item">
               <a class="nav-link {% if current_page == 'confessions_profile' %}active{% endif %}" href="{% url 'confessions_profile' username=profile.username %}"
                  ><i class="tf-icons navbar-icon ti ti-spy me-1"></i> İtiraflar</a
                  >
            </li>
            <li class="nav-item">
               <a class="nav-link {% if current_page == 'questions_profile' %}active{% endif %}" href="{% url 'questions_profile' username=profile.username %}"
                  ><i class="tf-icons navbar-icon ti ti-message-2-question me-1"></i> Sorular</a
                  >
            </li>
         </ul>
      </div>
   </div>
</nav>
{% endwith %}
{% block extra_javascript %}
<script>
   document.addEventListener("DOMContentLoaded", function() {
       updateNavbarText(); // Sayfa yüklendiğinde çağrılır
   });
   
   // Sayfa değiştikçe çağrılacak fonksiyon
   window.addEventListener("hashchange", function() {
       updateNavbarText();
   });
   
   // Navbar'daki metni güncelleyen fonksiyon
   function updateNavbarText() {
       var currentPage = window.location.hash.substr(1); // Şu anki sayfa adı
       var navbarText = document.querySelector(".navbar-text");
       if (navbarText) {
           switch (currentPage) {
               case 'profile':
                   navbarText.textContent = "Bilgi";
                   break;
               case 'posts_profile':
                   navbarText.textContent = "Gönderiler";
                   break;
               case 'articles_profile':
                   navbarText.textContent = "Makaleler";
                   break;
               case 'marketplace_profile':
                   navbarText.textContent = "İlanlar";
                   break;
               case 'documents_profile':
                   navbarText.textContent = "Ders Notları";
                   break;
               case 'confessions_profile':
                   navbarText.textContent = "İtiraflar";
                   break;
               case 'questions_profile':
                   navbarText.textContent = "Sorular";
                   break;
           }
       }
   }
   
</script>
{% endblock %}