{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'assets/fancybox/jquery.fancybox.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/pages/comments/comments.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/pages/comments/comment-form.css' %}" />
{% endblock extra_css%}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8 mb-4">
       <button type="button" onclick="history.back()" class="btn btn-sm btn-label-primary rounded-pill waves-effect">
       <span class="ti-xs ti ti-chevron-left me-2"></span>Geri Dön
       </button>
    </div>
 </div>
 {% if messages %}
 {% for message in messages %}
 <div class="row justify-content-center">

 <div class="col-lg-8">
     <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
         {{ message }}
     </div>
   </div>
</div>
 {% endfor %}
{% endif %}
   <!-- Doküman Başlığı -->
   <div class="row justify-content-center mb-4">
    <div class="col-lg-8 d-flex justify-content-between">
       <div>
       <h1 class="fw-bold mb-0 mt-0">{{ data.title }}</h1>
       <small class="text-muted">Klasör: <a href="{% url 'my_folder_details' folder=data.folder.id %}">{{ data.folder.name }}</a></small>
       </div>
       {% if user.is_authenticated %}

       <div class="dropdown">
          <button class="btn btn-text-primary rounded-pill border-1 p-2 me-n1 bg-label-primary" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="ti ti-dots-vertical ti-sm"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="MonthlyCampaign">
             <a class="dropdown-item" href="{% url 'create_complaint' 'documents' 'DocumentsModel' data.id %}">Şikayet Et</a>
             {% if document.user.username == user.username or user.is_superuser %}
             <a class="dropdown-item" href="{% url 'documents_edit' slug=data.slug %}">Düzenle</a>
             <a class="dropdown-item text-danger" href="#"
                data-bs-toggle="modal" data-bs-target="#modalCenter_{{ data.id }}">Sil</a>
             {%endif%}
          </div>
       </div>
       {%endif%}

    </div>
 </div>

   <!-- Doküman İçeriği -->
   <div class="row justify-content-center">
      <div class="col-lg-8">
         <!-- Yüklenen Dosyalar -->
         <div class="card card-border-shadow-primary mb-4">
            <div class="card-header bg-danger mb-4">
               <h5 class="text-white mb-0 fw-bold">Dokümanlar({{ data.documents.count }})</h5>
            </div>
            <div class="card-body">
               {% if data.documents.exists %}
               <ul class="list-unstyled">
                  {% for file in data.documents.all %}
                  <li class="mb-3">
                     <div class="d-flex justify-content-between align-items-center">
                        <span>{{ file.document_name }}</span>
                        <a href="{{ file.document.url }}" class="btn btn-sm btn-outline-primary" download>
                        <i class="ti ti-download"></i> İndir
                        </a>
                     </div>
                  </li>
                  {% endfor %}
               </ul>
               {% else %}
               <p class="text-muted">Bu dokümana ait yüklenen dosya bulunmuyor.</p>
               {% endif %}
            </div>
         </div>
      </div>
   </div>
   <div class="row justify-content-center">
      <div class="col-lg-8">
         <div class="card mb-4 card-border-shadow-primary">
            <div class="card-header bg-primary mb-4">
               <h5 class="text-white mb-0 fw-bold">Açıklama</h5>
            </div>
            <div class="card-body">
               {{ data.content }}
               <hr />
               <div class="d-flex bd-highlight">
                  <div class="bd-highlight">
                  {% if user.is_authenticated %}
                     <a href="javascript:void(0);" class="text-body me-3 like-btn" data-content-type-id="{{data.likes.content_type.id}}" data-object-id="{{data.id}}">
                     <i class="ti ti-heart{% if liked %}-filled{% endif %} text-primary"></i>
                     <span class="like-count text-body">{% if liked %}Beğendin {% else %}Beğen{% endif %} ({{ data.likes.count }})</span>
                     </a>
                  {%else%}
                     <i class="ti ti-heart text-primary"></i>
                     <span class="like-count text-body me-3">Beğeni ({{ data.likes.count }})</span>
                  {%endif%}
                     </div>
                     <div class="bd-highlight">
   
                     <a href="#comments" class="text-body me-3">
                     <i class="ti ti-message-filled text-danger"></i> Yorum Yap ({{ data.comments.count }})
                     </a>
                  </div>
               </div>
               <div class="d-flex flex-row-reverse bd-highlight">
                  <small class="text-muted">{{ data.create_at }}</small>
               </div>

            </div>
         </div>
      </div>
   </div>
   
      <!-- Yazar Bilgisi ve İstatistikler -->
<!-- Yazar Bilgisi -->
<div class="row justify-content-center mb-4">
   <div class="col-lg-8">
      <div class="card card-border-shadow-primary">
         <div class="card-header bg-warning mb-4">
            <h5 class="text-white mb-0 fw-bold">Yazar</h5>
         </div>
         <div class="card-body d-flex align-items-center">
            <a href="{% url 'profile' data.user.username %}">
               <div class="avatar avatar-lg me-3">
                  {% if data.user.profile_photo.profile_photo %}
                  <img src="{{ data.user.profile_photo.profile_photo.url }}" 
                     class="rounded-circle" 
                     alt="Yazar Profil Fotoğrafı">
                  {% else %}
                  <span class="avatar-initial rounded-circle bg-label-primary">{{ data.user.first_name|first }}{{ data.user.last_name|first }}</span>
                  {% endif %}
               </div>
            </a>
            <a href="{% url 'profile' data.user.username %}">
               <div>
                  <h5 class="mb-1">{{ data.user.first_name }} {{ data.user.last_name }}</h5>
                  <small class="text-body">{{ data.user.educational_information.university }} > {{ data.user.educational_information.department }} > {{ data.user.educational_information.status }}</small>
               </div>
            </a>
         </div>
      </div>
   </div>
</div> 
   <!-- Yorum Formu -->

   <!-- Comment Form -->
   {% block comment-form %}
   {% include 'comments/form-comment.html' %}
   {% endblock comment-form %}
   <!-- End Comment Form -->

   {% if comments %}
   <div class="row justify-content-center">
      <div class="col-lg-8">
         <h4 class="fw-bold mb-4 mt-0" id="comments">Yorumlar</h4>
      </div>
   </div>
   {%else%}
   <div class="row d-flex justify-content-center">
      <div class="col-lg-8 d-flex justify-content-center">
         <div class="col-12">
         <div class="alert alert-success alert-dismissible d-flex justify-content-center" role="alert">
            <h5 class="alert-heading mb-2">Henüz Yorum Yapılmadı. İlk Yorum Yapan Sen Ol.</h5>
         </div>
         </div>
      </div>
   </div>
{%endif%}



   <!-- Comments -->
   {% for comment in data.comments.all %}
   {% block comment %}
   {% include 'comments/comments.html' %}
   {% endblock comment %}
   {% endfor %}
   <!-- End Comments -->


   <!-- Delete Documents Modal -->
<div class="modal fade" id="modalCenter_{{ data.id}}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
       <div class="modal-content">
          <div class="modal-header bg-label-primary">
             <h5 class="modal-title text-primary mb-4" id="modalCenterTitle">Silme Uyarısı</h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
             <p>
                Geri Getirilemeyecek Şekilde Silinecektir Emin Misiniz?
             </p>
          </div>
          <div class="modal-footer">
             <a class="btn btn-label-danger" href="{% url 'documents_delete' data.id %}">Sil</a>
             <button type="button" class="btn btn-label-primary" data-bs-dismiss="modal">Vazgeç</button>
          </div>
       </div>
    </div>
  </div>
{% endblock content %}
{% block extra_javascript %}
<script src="{% static 'assets/fancybox/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'assets/vendor/libs/autosize/autosize.js' %}"></script>
<script src="{% static 'assets/js/forms-extras.js' %}"></script>
<script src="{% static 'assets/js/pages/comments/comment-form.js' %}"></script>
<script src="{% static 'assets/js/pages/comments/comments.js' %}"></script>
<script src="{% static 'assets/js/waypoints/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'assets/js/waypoints/infinite.min.js' %}"></script>
<script src="{% static 'assets/js/waypoints/custom.js' %}"></script>
<script src="{% static 'assets/js/pages/likes/like.js' %}"></script>
{% endblock extra_javascript %}