{% extends 'partials/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'assets/fancybox/jquery.fancybox.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/pages/comments/comments.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/pages/comments/comment-form.css' %}" />

{%endblock%}
{% block content %}
<div class="row justify-content-center mb-6">
   <div class="col-lg-8">
      <button type="button" onclick="history.back()" class="btn btn-sm btn-label-primary rounded-pill waves-effect">
      <span class="ti-xs ti ti-chevron-left me-2"></span>Geri Dön
      </button>
   </div>
</div>
<div class="row justify-content-center">
   <div class="col-lg-8 mb-4">
      <div class="card">
         <div class="card-header d-flex justify-content-between mb-0">
            <div class="card-title mb-0">
               <a href="{% url 'profile' post.user.username %}">
                  <div class="d-flex">
                     <div class="d-flex">
                        <div class="avatar avatar-md me-2">
                           {% if post.user.profile_photo.profile_photo %}
                           {% with profile_photo_url=post.user.profile_photo.profile_photo.url %}
                           <img
                              src="{{ profile_photo_url }}"
                              alt="Avatar"
                              class="rounded-circle" />
                           {% endwith %}
                           {% else %}
                           <span class="avatar-initial rounded-circle bg-label-primary">{{ user.first_name|first }}{{ user.last_name|first }}</span>
                           {% endif %}
                        </div>
                     </div>
                     <div class="flex-grow-1 ms-1">
                        <div class="me-2 h5 mb-0">{{ post.user.first_name }} {{ post.user.last_name }} <small class="text-muted h6"> gönderi paylaştı.</small></div>
                        <small class="text-muted">
                        {{ post.user.educational_information.university }}
                        </small>
                     </div>
                  </div>
               </a>
            </div>
            <div class="dropdown">
               <button class="btn p-0" type="button" id="MonthlyCampaign" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i class="ti ti-dots-vertical ti-sm text-muted"></i>
               </button>
               <div class="dropdown-menu dropdown-menu-end" aria-labelledby="MonthlyCampaign">
                  <a class="dropdown-item" href="javascript:void(0);">Şikayet Et</a>
                  {% if post.user.username == user.username or user.is_superuser %}
                  <a class="dropdown-item text-danger" href="#"
                     data-bs-toggle="modal" data-bs-target="#modalCenter_{{post.id}}">Sil</a>
                  {%endif%}
               </div>
            </div>
         </div>
         <div class="card-body">
            {{ post.content }}
            <div class="gallery-container mt-4">
               {% for image in post.photos.all %}
               <div class="gallery-item">
                  <a href="{{ image.image.url }}" data-fancybox="gallery-{{ post.post.id }}">
                  <img src="{{ image.image.url }}" alt="Post Image">
                  </a>
               </div>
               {% endfor %}
            </div>
            <hr />
            <div class="d-flex align-items-center">
               <div class="d-flex align-items-center">
                  <a href="javascript:void(0);" class="text-body me-3 like-btn" data-content-type-id="{{post.likes.content_type.id}}" data-object-id="{{post.id}}">
                  <i class="ti ti-heart{% if liked %}-filled{% endif %} text-primary"></i>
                  <span class="like-count">{% if liked %}Beğendin {% else %}Beğen{% endif %} ({{ post.likes.count }})</span>
                  </a>
                  <a href="{% url 'post_detail' post.id %}" class="text-body me-3">
                  <i class="ti ti-message-filled text-danger"></i> Yorum Yap ({{ post.comments.count }})
                  </a>
               </div>
               <div class="ms-auto">
                  <small class="text-muted">{{ post.create_at }}</small>
               </div>
            </div>
         </div>
      </div>
      <div class="modal fade" id="modalCenter_{{post.id}}" tabindex="-1" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="modalCenterTitle">Silme Uyarısı</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body">
                  <p>
                     Paylaşımı Silmek İstediğinizden emin misiniz?
                  </p>
               </div>
               <div class="modal-footer">
                  <a class="btn btn-primary" href="{% url 'delete_post' post.id %}">Sil</a>
                  <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Vazgeç</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row justify-content-center">
   <div class="col-lg-8">
      <h4 class="fw-bold mb-4 mt-0" id="comments">Yorumlar</h4>
   </div>
</div>
      {% block comment-form %}
         {% include 'comments/form-comment.html' %}
      {% endblock comment-form %}

      {% block comment %}
         {% include 'comments/comments.html' %}
      {% endblock comment %}

{%endblock%}
{% block extra_javascript %}
<script src="{% static 'assets/fancybox/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'assets/vendor/libs/autosize/autosize.js' %}"></script>
<script src="{% static 'assets/js/forms-extras.js' %}"></script>
<script src="{% static 'assets/js/pages/comments/comment-form.js' %}"></script>
<script src="{% static 'assets/js/pages/comments/comments.js' %}"></script>
<script src="{% static 'assets/js/waypoints/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'assets/js/waypoints/infinite.min.js' %}"></script>
<script src="{% static 'assets/js/waypoints/custom.js' %}"></script>
<script src="{% static 'assets/js/pages/likes/like.js' %}"></script>
{%endblock%}