{% extends 'partials/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'assets/vendor/libs/dropzone/dropzone.css' %}" />

{% endblock extra_css%}


{% block content %}

<div class="row">
  <div class="d-flex flex-column flex-md-row justify-content-end align-items-end align-items-md-end mb-6 row-gap-4">
    <div class="d-flex gap-4">
      <button class="btn btn-label-primary" data-bs-toggle="modal" data-bs-target="#add-post"><i class="ti ti-plus me-1"></i>Oluştur</button>
      <button class="btn btn-label-danger" data-bs-toggle="offcanvas" data-bs-target="#filter-canvas" aria-controls="offcanvasEnd"><i class="ti ti-filter-check me-1"></i>Filtre</button>
    </div>
  </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-6 col-xxl-6 mb-4">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="card-title mb-0">
                    <h5 class="mb-1">Örnek Başlık</h5>
                    <p class="card-subtitle">Alt Başlık</p>
                  </div>
                  <div class="dropdown">
                    <button
                      class="btn btn-text-secondary rounded-pill text-muted border-0 p-2 me-n1"
                      type="button"
                      id="MonthlyCampaign"
                      data-bs-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false">
                      <i class="ti ti-dots-vertical ti-md text-muted"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="MonthlyCampaign">
                      <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
                      <a class="dropdown-item" href="javascript:void(0);">Download</a>
                      <a class="dropdown-item" href="javascript:void(0);">View All</a>
                    </div>
                  </div>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>
<!-- Modals -->
<div class="modal fade" id="add-post" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h5 class="modal-title" id="modalCenterTitle">Gönderi Oluştur</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <hr />
      <div class="modal-body">
          <div class="d-flex justify-content-between align-items-center mb-6">
            <div class="d-flex align-items-center">
                <div class="avatar avatar-md me-2">
                  {% if user.profilepicturemodel.profile_photo %}
                  {% with profile_photo_url=user.profilepicturemodel.profile_photo.url %}
                  <img
                      src="{{ profile_photo_url }}"
                      alt="Avatar"
                      class="rounded-circle" />
                  {% endwith %}
                  {% else %}
                  <img
                      src="{% static 'assets/img/avatars/14.png' %}"
                      alt="Avatar"
                      class="rounded-circle" />
                  {% endif %}
                </div>
                <div>
            <h6 class="mb-0 text-truncate">{{ user.first_name }} {{ user.last_name }}</h6>
            <small class="text-truncate text-body">@{{ user.username }}</small>
            </div>
        </div>
      </div>
        <textarea id="autosize-demo border-0 shadow-none" placeholder="Yorumunu Fakula!!!" rows="3" class="form-control"></textarea>
        <div class="collapse" id="collapseExample">
          <form action="/upload" class="dropzone needsclick mt-2" id="dropzone-multi">
            <div class="dz-message needsclick">
              Dosyaları buraya bırakın veya yüklemek için tıklayın
            </div>
            <div class="fallback">
              <input name="file" type="file" />
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-label-secondary" data-bs-toggle="collapse" href="#collapseExample">
          <i class="ti ti-photo"></i>
        </a>
        <button type="button" class="btn btn-primary"><i class="ti ti-brand-telegram me-1 ti-sm"></i>Gönder</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modals -->

<!-- Canvas -->
<div
class="offcanvas offcanvas-end"
tabindex="-1"
id="filter-canvas"
aria-labelledby="offcanvasEndLabel">
<div class="offcanvas-header">
  <h5 id="offcanvasEndLabel" class="offcanvas-title">Filtrele</h5>
  <button
    type="button"
    class="btn-close text-reset"
    data-bs-dismiss="offcanvas"
    aria-label="Close"></button>
</div>
<div class="offcanvas-body my-auto mx-0 flex-grow-0">

  <button type="button" class="btn btn-primary mb-2 d-grid w-100">Filtrele</button>
  <button
    type="button"
    class="btn btn-label-secondary d-grid w-100"
    data-bs-dismiss="offcanvas">
    Vazgeç
  </button>
</div>
</div>
<!-- End Canvas -->



{% endblock content %}

{% block extra_javascript %}
<script src="{% static 'assets/vendor/libs/dropzone/dropzone.js' %}"></script>
<script src="{% static 'assets/js/pages/post.js' %}"></script>

{% endblock extra_javascript %}

