<footer class="content-footer footer bg-white">
    <div class="container-xxl">

    <div class="container-fluid d-flex flex-md-row flex-column justify-content-between align-items-md-center gap-1 container-p-x py-4">
      <div>
        <a href="https://demos.pixinvent.com/vuexy-html-admin-template/landing/" target="_blank" class="footer-text fw-medium">{{siteSettings.siteName}}</a>
        ©
      </div>
      <div class="d-flex flex-column flex-sm-row">
        <a href="https://themeforest.net/licenses/standard" class="footer-link me-6" target="_blank">License</a>
        <a href="javascript:void(0)" class="footer-link me-6">Help</a>
        <a href="javascript:void(0)" class="footer-link me-6">Contact</a>
        <a href="javascript:void(0)" class="footer-link">Terms &amp; Conditions</a>
      </div>
    </div>
  </div>

  </footer>