{% load static %}
<nav
   class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
   id="layout-navbar">
   <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
      <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
      <i class="ti ti-menu-2 ti-md"></i>
      </a>
   </div>
   <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
      <!-- Search -->
      <div class="navbar-nav align-items-center">
         <div class="nav-item navbar-search-wrapper mb-0">
            <a class="nav-item nav-link search-toggler d-flex align-items-center px-0" href="javascript:void(0);">
            <i class="ti ti-search ti-md me-2 me-lg-4 ti-lg"></i>
            <span class="d-none d-md-inline-block text-muted fw-normal">Search (Ctrl+/)</span>
            </a>
         </div>
      </div>
      <!-- /Search -->
      <ul class="navbar-nav flex-row align-items-center ms-auto">
         <!-- Language -->
         <li class="nav-item dropdown-language dropdown">
            <a
               class="nav-link btn btn-text-secondary btn-icon rounded-pill dropdown-toggle hide-arrow"
               href="javascript:void(0);"
               data-bs-toggle="dropdown">
            <i class="ti ti-language rounded-circle ti-md"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
               <li>
                  <a class="dropdown-item" href="javascript:void(0);" data-language="en" data-text-direction="ltr">
                  <span>English</span>
                  </a>
               </li>
               <li>
                  <a class="dropdown-item" href="javascript:void(0);" data-language="fr" data-text-direction="ltr">
                  <span>French</span>
                  </a>
               </li>
               <li>
                  <a class="dropdown-item" href="javascript:void(0);" data-language="ar" data-text-direction="rtl">
                  <span>Arabic</span>
                  </a>
               </li>
               <li>
                  <a class="dropdown-item" href="javascript:void(0);" data-language="de" data-text-direction="ltr">
                  <span>German</span>
                  </a>
               </li>
            </ul>
         </li>
         <!--/ Language -->
         <!-- Style Switcher -->
         <li class="nav-item dropdown-style-switcher dropdown border-end me-3">
            <a
               class="nav-link btn btn-text-secondary btn-icon rounded-pill dropdown-toggle hide-arrow"
               href="javascript:void(0);"
               data-bs-toggle="dropdown">
            <i class="ti ti-md"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-styles">
               <li>
                  <a class="dropdown-item" href="javascript:void(0);" data-theme="light">
                  <span class="align-middle"><i class="ti ti-sun ti-md me-3"></i>Light</span>
                  </a>
               </li>
               <li>
                  <a class="dropdown-item" href="javascript:void(0);" data-theme="dark">
                  <span class="align-middle"><i class="ti ti-moon-stars ti-md me-3"></i>Dark</span>
                  </a>
               </li>
               <li>
                  <a class="dropdown-item" href="javascript:void(0);" data-theme="system">
                  <span class="align-middle"
                     ><i class="ti ti-device-desktop-analytics ti-md me-3"></i>System</span
                     >
                  </a>
               </li>
            </ul>
         </li>
         <!-- / Style Switcher-->
         <!-- Friends  -->
         {% if user.is_authenticated %}

         <li class="nav-item dropdown-notifications navbar-dropdown dropdown">
            <a
               class="nav-link btn btn-text-secondary btn-icon rounded-pill dropdown-toggle hide-arrow"
               href="javascript:void(0);"
               data-bs-toggle="dropdown"
               data-bs-auto-close="outside"
               aria-expanded="false">
            <span class="position-relative">
            <i class="ti ti-users ti-md"  id="followers_icon"></i>
            <div id="followers_alert">
            {% if followers_header.count > 0 %}
            <span class="badge rounded-pill bg-danger badge-dot badge-notifications border" id="followers_badge"></span>
            {% endif %}
         </div>
            
         </span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end p-0">
               <li class="dropdown-menu-header border-bottom">
                  <div class="dropdown-header d-flex align-items-center py-3">
                     <h6 class="mb-0 me-auto">Takip İstekleri</h6>
                     <div class="d-flex align-items-center h6 mb-0">
                        <span class="badge bg-label-primary me-2" id="followers_count">{{followers_header.count}} Okunmamış</span>
                        <a
                           href="javascript:void(0)"
                           class="btn btn-text-secondary rounded-pill btn-icon dropdown-notifications-all"
                           data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           title="Tümünü Oku"
                           id="followers_mark_all_as_read"
                           ><i class="ti ti-mail-opened text-heading"></i
                           ></a>
                     </div>
                  </div>
               </li>
               <li class="dropdown-notifications-list scrollable-container">
                  <ul class="list-group list-group-flush" id="followers_content">
                     {% for follower in followers_header %}
                     <li class="list-group-item list-group-item-action dropdown-notifications-item d-flex" id="follower_content">
                        <div class="d-flex flex-wrap bd-highlight mb-3">
                           <div class="d-flex align-items-start mb-3">
                              <div class="bd-highlight">
                                 <div class="avatar avatar-md me-2 flex-shrink-0">
                                    <a href="{% url 'profile' follower.follower.username %}">
                                    {% if follower.follower.profile_photo.profile_photo %}
                                    <img src="{{ follower.follower.profile_photo.profile_photo.url }}" alt="Avatar" class="rounded-circle" height="32" width="32" />
                                    {% else %}
                                    <span class="avatar-initial rounded-circle bg-label-primary">{{ follower.follower.first_name|first }}{{ follower.follower.last_name|first }}</span>
                                    {% endif %}
                                    </a>
                                 </div>
                              </div>

                              <div class="bd-highlight">
                                 <a href="{% url 'profile' follower.follower.username %}">
                                    <div class="me-2 h6 mb-0">
                                       {{ follower.follower.first_name }} {{ follower.follower.last_name }}
                                       <small class="text-muted">
                                          {% if follower.following.privacy.is_private %}
                                          takip isteği gönderdi.
                                          {%else%}
                                          seni takip etti.
                                          {%endif%}
                                       </small>
                                    </div>
                                 </a>
                                 <small class="text-muted">{{ follower.follower.educational_information.university }}</small>
                              </div>
                              </div>
                              <div class="ms-auto bd-highlight">
                                 <div class="mb-1">
                                    <small class="text-muted"> {{ follower.created_at }}</small>
                                 </div>
                                 {% if follower.following.privacy.is_private %}
                                    <button class="btn btn-label-success btn-xs follow-approve" data-follow-request-id="{{ follower.id }}">Onayla</button>
                                    <button class="btn btn-label-danger btn-xs follow-reject" data-follow-request-id="{{ follower.id }}">Reddet</button>
                                    <!-- Durum mesajını göstereceğimiz yer -->
                                    <span class="follow-status"></span>
                                 {%endif%}
                              </div>
                              </div>
                     </li>
                     {% empty %}
                     <li class="list-group-item list-group-item-action dropdown-notifications-item" id="no_notifications_followers">
                        <div class="d-flex">
                           <div class="flex-shrink-0 me-3">
                              Okunmamış takipçi bildirimi yok.
                           </div>
                        </div>
                     </li>
                     {%endfor%}
                  </ul>
               </li>
               <li class="border-top">
                  <div class="d-grid p-4">
                     <a class="btn btn-primary btn-sm d-flex" href="{% url 'follow-requests' %}">
                     <small class="align-middle">Tüm İstekler</small>
                     </a>
                  </div>
               </li>
            </ul>
         </li>
         <!-- Friends  -->
         <!-- Messages -->
         <li class="nav-item dropdown-notifications navbar-dropdown dropdown">
            <a
               class="nav-link btn btn-text-secondary btn-icon rounded-pill dropdown-toggle hide-arrow"
               href="javascript:void(0);"
               data-bs-toggle="dropdown"
               data-bs-auto-close="outside"
               aria-expanded="false">
               <span class="position-relative">
                  <i class="ti ti-message ti-md" id="messages_icon"></i>
                  <div id="messages_alert">
                     {% if chat_count > 0 %}
                     <span class="badge rounded-pill bg-danger badge-dot badge-notifications border" id="messages_badge"></span>
                     {% endif %}
                  </div>
               </span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end p-0">
               <li class="dropdown-menu-header border-bottom">
                  <div class="dropdown-header d-flex align-items-center py-3">
                     <h6 class="mb-0 me-auto">Mesajlar</h6>
                     <div class="d-flex align-items-center h6 mb-0">
                        <span class="badge bg-label-primary me-2"  id="message_count">{{chat_count}} Okunmamış</span>
                        <a
                           href="javascript:void(0)"
                           class="btn btn-text-secondary rounded-pill btn-icon dropdown-notifications-all"
                           data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           title="Tümünü Oku"
                           id="messages_mark_all_as_read"
                           ><i class="ti ti-mail-opened text-heading"></i
                           ></a>
                     </div>
                  </div>
               </li>
               <li class="dropdown-notifications-list scrollable-container">
                  <ul class="list-group list-group-flush" id="messages_content">
                     {%for chat in chats_header %}
                     <li class="list-group-item list-group-item-action dropdown-notifications-item d-flex align-items-center" id="message_content">
                        {% if user == chat.first_user %}
                        <div class="flex-shrink-0 avatar">
                           <a href="{% url 'chat' chat.id %}">
                              <img
                                 src="{{ chat.second_user.profile_photo.profile_photo.url }}"
                                 alt="Avatar"
                                 class="rounded-circle"
                                 />
                           </a>
                        </div>
                        <div class="chat-contact-info flex-grow-1 ms-4">
                           <a href="{% url 'chat' chat.id %}">
                              <div class="d-flex justify-content-between align-items-center">
                                 <h6 class="chat-contact-name text-truncate fw-normal m-0">
                                    {{ chat.second_user.first_name }} {{ chat.second_user.last_name }}
                                 </h6>
                              </div>
                              <small class="text-muted">
                              {{ chat.second_user.educational_information.university }}
                              </small>
                           </a>
                        </div>
                        {%else%}
                        <div class="flex-shrink-0 avatar">
                           <a href="{% url 'chat' chat.id %}">
                              <img
                                 src="{{ chat.first_user.profile_photo.profile_photo.url }}"
                                 alt="Avatar"
                                 class="rounded-circle"
                              />
                           </a>
                        </div>
                        <div class="chat-contact-info flex-grow-1 ms-4">
                           <a href="{% url 'chat' chat.id %}">
                              <div class="d-flex justify-content-between align-items-center">
                                 <h6 class="chat-contact-name text-truncate fw-normal m-0">
                                    {{ chat.first_user.first_name }} {{ chat.first_user.last_name }}
                                 </h6>
                              </div>
                              <small class="text-muted">
                              {{ chat.first_user.educational_information.university }}
                              </small>
                           </a>
                        </div>
                        {%endif%}
                     </li>
                     {% empty %}
                     <li class="list-group-item list-group-item-action dropdown-notifications-item" id="no_notifications_messages">
                        <div class="d-flex">
                           <div class="flex-shrink-0 me-3">
                              Okunmamış mesajınız yok.
                           </div>
                        </div>
                     </li>
                     {%endfor%}
                     {% if chat_count > 6 %}
                        <a href="{% url 'chat_index' %}" class="btn btn-secondary">Sonraki Mesajları Gör</a>
                     {%endif%}
                  </ul>
               </li>
               <li class="border-top">
                  <div class="d-grid p-4">
                     <a class="btn btn-primary btn-sm d-flex" href="{% url 'chat_index' %}">
                     <small class="align-middle">Tüm Mesajlar</small>
                     </a>
                  </div>
               </li>
            </ul>
         </li>
         <!-- Messages -->
         <!-- Notification -->
         <li class="nav-item dropdown-notifications navbar-dropdown dropdown me-3 me-xl-2">
            <a class="nav-link btn btn-text-secondary btn-icon rounded-pill dropdown-toggle hide-arrow"
               href="javascript:void(0);"
               data-bs-toggle="dropdown"
               data-bs-auto-close="outside"
               aria-expanded="false">
               <span class="position-relative">
                  <i class="ti ti-bell ti-md" id="notifications_icon"></i>
                  <div id="notifications_alert">
                     {% if notifications_count > 0 %}
                     <span class="badge rounded-pill bg-danger badge-dot badge-notifications border" id="notifications_badge"></span>
                     {% endif %}
                  </div>
               </span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end p-0">
               <li class="dropdown-menu-header border-bottom">
                  <div class="dropdown-header d-flex align-items-center py-3">
                     <h6 class="mb-0 me-auto">Bildirimler</h6>
                     <div class="d-flex align-items-center h6 mb-0">
                        <span class="badge bg-label-primary me-2" id="notifications_count">{{notifications_count}} Okunmamış</span>
                        <a
                           href="javascript:void(0)"
                           class="btn btn-text-secondary rounded-pill btn-icon dropdown-notifications-all"
                           data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           title="Tümünü Oku"
                           id="notifications_mark_all_as_read"
                           ><i class="ti ti-mail-opened text-heading"></i
                           ></a>
                     </div>
                  </div>
               </li>
               <li class="dropdown-notifications-list scrollable-container" id="notifications-scroll">
                  <ul class="list-group list-group-flush infinite-container-notifications" id="notifications_content">
                     {%for notification in notifications_header %}
                     <li class="list-group-item list-group-item-action dropdown-notifications-item infinite-item-notification" id="notification_content">
                        <div class="d-flex flex-wrap bd-highlight">
                           <div class="d-flex align-items-start">
                              <div class="bd-highlight me-2">
                                 <div class="avatar avatar-md flex-shrink-0">
                                    {% if notification.action_user.profile_photo.profile_photo %}
                                    <img src="{{ notification.action_user.profile_photo.profile_photo.url }}" alt="Avatar" class="rounded-circle" height="32" width="32" />
                                    {% else %}
                                    <span class="avatar-initial rounded-circle bg-label-primary">{{ notification.action_user.first_name|first }}{{ notification.action_user.last_name|first }}</span>
                                    {% endif %}
                                 </div>
                              </div>
      
                              <div class="bd-highlight">
                                 <a href="{% url 'profile' notification.action_user.username %}">
                                    <div class="me-2 h6 mb-0">{{ notification.action_user.first_name }} {{ notification.action_user.last_name }}
                                       <small class="text-muted">
                                       {% if notification.notification_type == 'like' %}
                                       {{notification.content_object.content_object.get_notifications_like_context.message}}
                                       {%elif notification.notification_type == 'comment' %}
                                       {% if notification.content_object.parent %}
                                       {{notification.content_object.get_notifications_comment_context.message}}
                                       {%else%}
                                       {{notification.content_object.content_object.get_notifications_comment_context.message}}
                                       {%endif%}
                                       {%endif%}
                                       </small>
                                    </div>
                                 </a>
                                 <small class="text-muted">{{ notification.action_user.educational_information.university }}</small>
                                 {% if notification.notification_type == 'like' %}
                                 <a href="{{notification.content_object.content_object.get_notifications_like_context.content_url }}">
                                 <span class="mt-1 mb-1 d-block text-body">{{ notification.content_object.content_object.get_notifications_like_context.content_title|truncatechars:70 }}</span>
                                 </a>
                                 {% elif notification.notification_type == 'comment' %}
                                 <a href="{{notification.content_object.get_notifications_comment_context.content_url }}">
                                 <span class="mt-1 mb-1 d-block text-body">{{ notification.content_object.get_notifications_comment_context.content_title|truncatechars:70 }}</span>
                                 </a>
                                 {%endif%}
                              </div>
                           </div>
                           <div class="ms-auto bd-highlight">
                              <div class="mb-1">
                                 <small class="text-muted"> {{ notification.created_at|date:"d M Y, H:i" }}</small>
                              </div>
                           </div>
                        </div>
                     </li>
                     {% empty %}
                     <li class="list-group-item list-group-item-action dropdown-notifications-item" id="no_notifications">
                        <div class="d-flex">
                           <div class="flex-shrink-0 me-3">
                              Okunmamış bildiriminiz yok.
                           </div>
                        </div>
                     </li>
                     {% endfor %}
                     {% if notifications_count > 6 %}
                        <a href="{% url 'notifications' %}" class="btn btn-secondary">Sonraki Bildirimleri Gör</a>
                     {%endif%}
                  </ul>
                  <div class="col-lg-4 loading-container">
                     <div class="loading-notifications" style="display:none;">
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-8">
                        {% if notifications_header.has_next %}
                        <a class="infinite-more-link-notifications" href="?{% for key, value in request.GET.items %}{{ key }}={{ value }}&{% endfor %}page={{ notifications_header.next_page_number }}">Sonraki</a>
                        {% endif %}
                     </div>
                  </div>
               </li>
               <li class="border-top">
                  <div class="d-grid p-4">
                     <a class="btn btn-primary btn-sm d-flex" href="{% url 'notifications' %}">
                     <small class="align-middle">Tüm Bildirimler</small>
                     </a>
                  </div>
               </li>
            </ul>
         </li>
         <!--/ Notification -->
         <!-- User -->
         <li class="nav-item navbar-dropdown dropdown-user dropdown">
            <a
               class="nav-link dropdown-toggle hide-arrow p-0"
               href="javascript:void(0);"
               data-bs-toggle="dropdown">
               <div class="avatar">
                  {% if user.profile_photo.profile_photo %}
                  {% with profile_photo_url=user.profile_photo.profile_photo.url %}
                  <img src="{{ profile_photo_url }}" alt class="rounded-circle" />
                  {% endwith %}
                  {% else %}
                  <span class="avatar-initial rounded-circle bg-label-primary">{{ user.first_name|first }}{{ user.last_name|first }}</span>
                  {% endif %}
               </div>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
               <li>
                  <a class="dropdown-item mt-0" href="{% url 'profile' user.username %}">
                     <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 me-2">
                           <div class="avatar">
                              {% if user.profile_photo.profile_photo %}
                              {% with profile_photo_url=user.profile_photo.profile_photo.url %}
                              <img src="{{ profile_photo_url }}" alt class="rounded-circle" />
                              {% endwith %}
                              {% else %}
                              <span class="avatar-initial rounded-circle bg-label-primary">{{ user.first_name|first }}{{ user.last_name|first }}</span>
                              {% endif %}
                           </div>
                        </div>
                        <div class="flex-grow-1">
                           <h6 class="mb-0">{{user.first_name}} {{user.last_name}}</h6>
                           <small class="text-muted">@{{user.username}}</small>
                        </div>
                     </div>
                  </a>
               </li>
               {% if user.is_superuser %}
               <div class="dropdown-divider my-1 mx-n2"></div>
               <li>
                  <a class="dropdown-item" href="{% url 'admin:index' %}"><i class="ti ti-crown me-2"></i> <span class="align-middle">Admin Paneli</span></a>
               </li>
               {% endif %}
               <div class="dropdown-divider my-1 mx-n2"></div>
               <li>
                  <a class="dropdown-item" href="{% url 'profile' user.username %}">
                  <i class="ti ti-user-check me-2"></i>
                  <span class="align-middle">Profilim</span>
                  </a>
               </li>
               <li>
                  <a class="dropdown-item" href="{% url 'profile_settings' %}">
                  <i class="ti ti-settings me-2"></i>
                  <span class="align-middle">Hesap Ayarları</span>
                  </a>
               </li>
               <li>
                  <a class="dropdown-item" href="{% url 'privacy_settings' %}">
                  <i class="ti ti-lock me-2"></i>
                  <span class="align-middle">Gizlilik Ayarları</span>
                  </a>
               </li>
               <li>
                  <div class="dropdown-divider"></div>
               </li>
               <li>
                  <div class="d-grid px-2 pt-2 pb-1">
                     <a class="btn btn-sm btn-danger d-flex" href="{% url 'logout' %}">
                     <small class="align-middle">Çıkış Yap</small>
                     <i class="ti ti-logout ms-2 ti-14px"></i>
                     </a>
                  </div>
               </li>
            </ul>
         </li>
         <!--/ User -->
         {%endif%}
      </ul>
   </div>
   <!-- Search Small Screens -->
   <div class="navbar-search-wrapper search-input-wrapper d-none">
      <input
         type="text"
         class="form-control search-input container-xxl border-0"
         placeholder="Search..."
         aria-label="Search..." />
      <i class="ti ti-x search-toggler cursor-pointer"></i>
   </div>
</nav>