{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_css %}
<style>
   .card img {
   height: 400px; /* İstediğiniz yükseklik */
   object-fit: cover; /* Resmi alanın tamamına sığdır */
   width: 100%; /* Resmi genişliğe yay */
   }
</style>
{% endblock extra_css%}
{% block content %}
<div class="row justify-content-center">
   <div class="col-lg-8 mb-4">
         <button type="button" onclick="history.back()" class="btn btn-sm btn-label-primary rounded-pill waves-effect">
           <span class="ti-xs ti ti-chevron-left me-2"></span>Geri Dön
         </button>
     </div>
   </div>

<div class="row justify-content-center g-6">
   <div class="col-lg-8">
      <!-- Article -->
      <div class="card mb-4">
         <div class="card-header d-flex justify-content-between mb-0">
            <div class="card-title mb-0">
               <div class="d-flex">
                  <div class="me-1">
                     <h4 class="mb-0">{{article.title}}</h4>
                  </div>
               </div>
            </div>
            <div class="d-flex align-items-beetwen">
               <i class="ti ti-share ti-lg mx-4"></i>
               <div class="dropdown">
                  <button class="btn p-0" type="button" id="MonthlyCampaign" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="ti ti-dots-vertical ti-sm text-muted"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="MonthlyCampaign">
                     <a class="dropdown-item" href="javascript:void(0);">Şikayet Et</a>
                     {% if article.user.username == user.username or user.is_superuser %}
                     <a class="dropdown-item text-danger" href="#"
                        data-bs-toggle="modal" data-bs-target="#modalCenter_{{article.id}}">Sil</a>
                     {%endif%}
                  </div>
               </div>
            </div>
         </div>
         <div class="card-body">
            <div class="card academy-content shadow-none border">
               <div class="bg-label-primary rounded-2 text-center">
                  <div class="cursor-pointer">
                     {% for image in article.futured_image.all %}
                     <img
                        class="card-img-top"
                        src="{{ image.photo.url }}"
                        alt="tutor image 1"
                        />
                     {%endfor%}
                  </div>
               </div>
               <div class="card-body pt-4">
                  <div class="d-flex justify-content-between mb-0">
                     <div class="d-flex">
                        <div class="avatar-wrapper">
                           <div class="avatar me-4">
                              <a href="{% url 'profile' article.user.username %}">
                              {% if article.user.profilepicturemodel.profile_photo %}
                              {% with profile_photo_url=article.user.profilepicturemodel.profile_photo.url %}
                              <img src="{{ profile_photo_url }}" alt="Avatar" class="rounded-circle" />
                              {% endwith %}
                              {% else %}
                              <img src="{static 'assets/img/avatars/11.png' %}" alt="Avatar" class="rounded-circle" />
                              {% endif %}
                              </a>
                           </div>
                        </div>
                        <div class="d-flex flex-column">
                           <a href="{% url 'profile' article.user.username %}">
                              <h6 class="mb-1">{{article.user.first_name}} {{article.user.last_name}}</h6>
                           </a>
                           <small>{{article.user.educationalinformationmodel.University}} - {{article.user.educationalinformationmodel.Department}}</small>
                        </div>
                     </div>
                     <div class="d-flex align-items-beetwen">
                        <small>{{article.create_at}}</small> 
                     </div>
                  </div>
                  <hr class="mb-3" />
                  <div align="justify">
                     {{article.content | safe}}
                  </div>
               </div>             
            </div>
            <div class="d-flex align-items-center mt-4">
               <div class="d-flex align-items-center">
                  <a href="javascript:void(0);" class="text-body me-3 like-btn" data-content-type-id="{{article.likes.content_type.id}}" data-object-id="{{article.id}}">
                     <i class="ti ti-heart{% if article.id in liked %}-filled{% endif %}"></i>
                     <span class="like-count text-body">{{ article.likes.count }}</span>
                 </a>

                  <a href="{% url 'article_details' article.id %}" class="text-body me-3"
                     ><i class="ti ti-message-plus"></i> {{ article.comments.count }}</a
                     >
                  <div class="dropdown">
                     <button class="btn p-0" type="button" id="MonthlyCampaign" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <i class="ti ti-share"></i>
                     </button>
                     <div class="dropdown-menu dropdown-menu-end" aria-labelledby="MonthlyCampaign">
                        <a class="dropdown-item" href="javascript:void(0);">Şikayet Et</a>
                        <a class="dropdown-item" href="javascript:void(0);">Sil</a>
                     </div>
                  </div>
               </div>
               <div class="ms-auto">
               </div>
            </div>
         </div>
      </div>
      <!-- End Article -->
      <!-- Article Delete Modals -->
      <div class="modal fade" id="modalCenter_{{article.id}}" tabindex="-1" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="modalCenterTitle">Silme Uyarısı</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body">
                  <p>
                     Paylaşımı Silmek İstediğinizden emin misiniz?
                  </p>
               </div>
               <div class="modal-footer">
                  <a class="btn btn-primary" href="{% url 'delete_article' article.id %}">Sil</a>
                  <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Vazgeç</button>
               </div>
            </div>
         </div>
      </div>
      <!-- End Article Delete Modals -->

      <!-- Comment Form -->
      {% block comment-form %}
         {% include 'comments/form-comment.html' %}
      {% endblock comment-form %}
      <!-- End Comment Form -->

      <!-- Comments -->
      {% for comment in comments %}
         {% block comment %}
            {% include 'comments/comments.html' %}
         {% endblock comment %}
      {% endfor %}
      <!-- End Comments -->

   </div>
</div>
{% endblock content %}
{% block extra_javascript %}
<script src="{% static 'assets/js/pages/likes/like.js' %}"></script>
<script>
   CKEDITOR.replace('editor', {
       extraAllowedContent: 'img[class]',
       filebrowserImageUploadUrl: '/upload/',
       on: {
           instanceReady: function(evt) {
               evt.editor.dataProcessor.htmlFilter.addRules({
                   elements: {
                       img: function(el) {
                           // Yüklenen tüm resimlere 'ckeditor-img' sınıfı ekle
                           el.addClass('ckeditor-img');
                       }
                   }
               });
           }
       }
   });
</script>
{% endblock extra_javascript %}