{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_css %}
<style>
   .article-image img {
   height: 400px; /* İstediğiniz yükseklik */
   object-fit: cover; /* Resmi alanın tamamına sığdır */
   width: 100%; /* Resmi genişliğe yay */
   }
</style>
<link rel="stylesheet" href="{% static 'assets/fancybox/jquery.fancybox.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/pages/comments/comment-comments.css' %}" />
{% endblock extra_css%}
{% block content %}
<div class="row justify-content-center">
   <div class="col-lg-8 mb-4">
      <button type="button" onclick="history.back()" class="btn btn-sm btn-label-primary rounded-pill waves-effect">
      <span class="ti-xs ti ti-chevron-left me-2"></span>Geri Dön
      </button>
   </div>
</div>
<div class="container mt-5">
   <!-- Makale Başlığı -->
   <div class="row justify-content-center">
      <div class="col-lg-8">
         <h1 class="fw-bold mb-0">{{ data.title }}</h1>
         <p class="text-muted">Kategori: {{ data.category.name }} | Yayınlanma Tarihi: {{ data.create_at }}</p>
      </div>
   </div>
   <!-- Makale Ana Görseli -->
   <div class="row justify-content-center mt-3">
      <div class="col-lg-8">
         <div class="article-image">
            {% if data.futured_image.exists %}
            {% for image in data.futured_image.all %}
            <img src="{{ image.photo.url }}" class="img-fluid rounded w-100" alt="{{ data.title }}">
            {% endfor %}
            {% endif %}
         </div>
      </div>
   </div>
   <!-- Yazar Bilgisi -->
   <div class="row justify-content-center mt-4">
      <div class="col-lg-8">
         <div class="card">
            <div class="card-body d-flex align-items-center">
               {% if data.user.profilepicturemodel.profile_photo %}
               {% with profile_photo_url=data.user.profilepicturemodel.profile_photo.url %}
               <img src="{{ profile_photo_url }}" class="avatar avatar-md rounded-circle me-3" alt="Yazar Profil Fotoğrafı"
                  >
               {% endwith %}
               {% else %}
               <img src="{% static 'assets/img/avatars/11.png' %}" class="rounded-circle me-3" alt="Yazar Profil Fotoğrafı"
                  style="width: 80px; height: 80px;">
               {% endif %}
               <div>
                  <h5 class="mb-1">{{ data.user.first_name }} {{ data.user.last_name }}</h5>
                  <small>{{data.user.educationalinformationmodel.University}} - {{data.user.educationalinformationmodel.Department}}</small>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Makale İçeriği -->
   <div class="row justify-content-center mt-4">
      <div class="col-lg-8">
         <div class="card">
            <div class="card-body">
               <div align="justify">
                  <p class="card-text">{{ data.content | safe }}</p>
               </div>
               <div class="d-flex align-items-center mt-4">
                  <div class="d-flex align-items-center">
                     <a href="javascript:void(0);" class="text-body me-3 like-btn" data-content-type-id="{{data.likes.content_type.id}}" data-object-id="{{data.id}}">
                     <i class="ti ti-heart{% if data.id in liked %}-filled{% endif %}"></i>
                     <span class="like-count text-body">{{ data.likes.count }}</span>
                     </a>
                     <i class="ti ti-message-plus me-1"></i> {{ data.comments.count }}
                     <div class="dropdown ms-2">
                        <button class="btn p-0" type="button" id="MonthlyCampaign" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="ti ti-share"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="MonthlyCampaign">
                           <a class="dropdown-item" href="javascript:void(0);">Şikayet Et</a>
                           <a class="dropdown-item" href="javascript:void(0);">Sil</a>
                        </div>
                     </div>
                  </div>
                  <div class="ms-auto">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Yorum Formu -->
   <div class="row justify-content-center mt-4">
      <div class="col-lg-8">
         <!-- Comment Form -->
         {% block comment-form %}
         {% include 'comments/form-comment.html' %}
         {% endblock comment-form %}
         <!-- End Comment Form -->
      </div>
   </div>
   <div class="row justify-content-center">
      <div class="col-lg-8">
         <h4 class="fw-bold mb-0">Yorumlar</h4>
      </div>
   </div>
   <div class="row justify-content-center mt-4">
      <div class="col-lg-8">
         <!-- Comments -->
         {% for comment in comments %}
         {% block comment %}
         {% include 'comments/comments.html' %}
         {% endblock comment %}
         {% endfor %}
         <!-- End Comments -->
      </div>
   </div>
</div>
{% endblock content %}
{% block extra_javascript %}
<script src="{% static 'assets/fancybox/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'assets/js/pages/comments/comment-comments.js' %}"></script>
<script src="{% static 'assets/js/pages/likes/like.js' %}"></script>
<script>
   CKEDITOR.replace('editor', {
       extraAllowedContent: 'img[class]',
       filebrowserImageUploadUrl: '/upload/',
       on: {
           instanceReady: function(evt) {
               evt.editor.dataProcessor.htmlFilter.addRules({
                   elements: {
                       img: function(el) {
                           // Yüklenen tüm resimlere 'ckeditor-img' sınıfı ekle
                           el.addClass('ckeditor-img');
                       }
                   }
               });
           }
       }
   });
</script>
{% endblock extra_javascript %}