<li class="list-group-item list-group-item-action dropdown-notifications-item d-flex" id="follower_content">
   <div class="d-flex flex-wrap bd-highlight mb-3">
      <div class="d-flex align-items-start mb-3">
         <div class="bd-highlight">
            <div class="avatar avatar-md me-2 flex-shrink-0">
               <a href="{% url 'profile' message.follower_user_username %}">
               {% if message.profile_photo_url %}
               <img src="{{ message.profile_photo_url }}" alt="Avatar" class="rounded-circle" height="32" width="32" />
               {% else %}
               <span class="avatar-initial rounded-circle bg-label-primary">{{ message.follower_user_first_name|first }}{{ message.follower_user_last_name|first }}</span>
               {% endif %}
               </a>
            </div>
         </div>
         <div class="bd-highlight">
            <a href="{% url 'profile' message.follower_user_username %}">
               <div class="me-2 h6 mb-0">{{ message.follower_user_first_name }} {{ message.follower_user_last_name }}
                  <small class="text-muted">
                  {% if message.following_is_private %}
                  takip isteği gönderdi.
                  {%else%}
                  seni takip etti.
                  {%endif%}
                  </small>
               </div>
            </a>
            <small class="text-muted">{{ message.follower_user_university }}</small>
         </div>
      </div>
      <div class="ms-auto bd-highlight">
         <div class="mb-1">
            <small class="text-muted"> {{ message.time }}</small>
         </div>
      </div>
   </div>
</li>