<li class="list-group-item list-group-item-action dropdown-notifications-item d-flex" id="messages_content">
  <div class="flex-shrink-0 avatar">
   <a href="{{message.content_url}}">
     <img
        src="{{message.profile_photo_url}}"
        alt="Avatar"
        class="rounded-circle"
        />
   </a>
  </div>
  <div class="chat-contact-info flex-grow-1 ms-4">
   <a href="{{message.content_url}}">
     <div class="d-flex justify-content-between align-items-center">
        <h6 class="chat-contact-name text-truncate fw-normal m-0">
           {{message.sender_user}}
        </h6>
        <div id="message_alert">
           <span
              class="badge rounded-pill bg-danger badge-dot border"
              id="message_badge"
              ></span>
        </div>
     </div>
     <small class="text-muted">
     {{ message.sender_user_university }} | {{message.time}}
     </small>
   </a>
  </div>
</li>