{% extends 'partials/base.html' %}
{% load static %}
{% block extra_css %}
{% endblock extra_css%}
{% block content %}
<h3 class="mb-2 fw-bold" >Bildirimler</h3>
<div class="row g-0">
   <div class="col app-notifications-list">
      <div class="card">
         <div class="card-body notifications-list-header p-3 py-2">
            <div class="d-flex justify-content-between align-items-center ps-1">
               <div class="d-flex align-items-center">
                  <div class="form-check mb-0 ms-0">
                     <input class="form-check-input" type="checkbox" id="notifications-select-all" />
                     <label class="form-check-label" for="notifications-select-all"></label>
                  </div>
                  <div class="btn btn-text-secondary btn-icon rounded-pill me-1">
                     <i class="ti ti-trash ti-md notifications-delete cursor-pointer"></i>
                  </div>
               </div>
            </div>
         </div>
         <hr class="container-m-nx m-0" />
         <div class="card-body notifications-list p-4 py-0 " id="notifications-container">
            <div id="notifications" class="list-group infinite-container">
               {% for notification in notifications %}
               <div class="notification-list-item mt-2 infinite-item" data-notification-id="{{ notification.id }}">
                  <div class="d-flex flex-wrap bd-highlight mb-3">
                     <div class="d-flex align-items-start">
                        <div class="d-flex align-items-center">

                        <div class="bd-highlight">
                           <div class="form-check mb-0 ms-0">
                              <input class="notification-list-item-input form-check-input" type="checkbox" />
                              <label class="form-check-label"></label>
                           </div>
                        </div>
                        <div class="bd-highlight">
                           <div class="avatar avatar-md me-2 flex-shrink-0">
                              {% if notification.action_user.profile_photo.profile_photo %}
                              <img src="{{ notification.action_user.profile_photo.profile_photo.url }}" alt="Avatar" class="rounded-circle" height="32" width="32" />
                              {% else %}
                              <span class="avatar-initial rounded-circle bg-label-primary">{{ notification.action_user.first_name|first }}{{ notification.action_user.last_name|first }}</span>
                              {% endif %}
                           </div>
                        </div>
                     </div>

                        <div class="bd-highlight">
                           <a href="{% url 'profile' notification.action_user.username %}">
                              <div class="me-2 h6 mb-0">{{ notification.action_user.first_name }} {{ notification.action_user.last_name }}
                                 <small class="text-muted">
                                 {% if notification.notification_type == 'like' %}
                                 {{notification.content_object.content_object.get_notifications_like_context.message}}
                                 {%elif notification.notification_type == 'comment' %}
                                 {% if notification.content_object.parent %}
                                 {{notification.content_object.get_notifications_comment_context.message}}
                                 {%else%}
                                 {{notification.content_object.content_object.get_notifications_comment_context.message}}
                                 {%endif%}
                                 {%endif%}
                                 </small>
                              </div>
                           </a>
                           <small class="text-muted">{{ notification.action_user.educational_information.university }}</small>
                           {% if notification.notification_type == 'like' %}
                           <a href="{{notification.content_object.content_object.get_notifications_like_context.content_url }}">
                           <span class="mt-1 mb-1 d-block text-black">{{ notification.content_object.content_object.get_notifications_like_context.content_title|truncatechars:70 }}</span>
                           </a>
                           {% elif notification.notification_type == 'comment' %}
                           <a href="{{notification.content_object.get_notifications_comment_context.content_url }}">
                           <span class="mt-1 mb-1 d-block text-black">{{ notification.content_object.get_notifications_comment_context.content_title|truncatechars:70 }}</span>
                           </a>
                           {%endif%}
                        </div>
                     </div>
                     <div class="ms-auto bd-highlight">
                        <div class="mb-1">
                           <small class="text-muted"> {{ notification.created_at|date:"d M Y, H:i" }}</small>
                        </div>
                     </div>
                  </div>
               </div>
               <hr class="container-m-nx m-0" />
               {% empty %}
               <div class="mb-4 mt-2">Henüz bir bildiriminiz yok.</div>
               {% endfor %}
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-lg-8">
      {% if notifications.has_next %}
      <a class="infinite-more-link" href="?{% for key, value in request.GET.items %}{{ key }}={{ value }}&{% endfor %}page={{ notifications.next_page_number }}">Sonraki</a>
      {% endif %}
   </div>
</div>
{% endblock content %}
{% block extra_javascript %}
<script src="{% static 'assets/js/waypoints/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'assets/js/waypoints/infinite.min.js' %}"></script>
<script src="{% static 'assets/js/waypoints/custom.js' %}"></script>

<script>
   $(document).ready(function () {
    // Tüm takip isteklerini seç veya seçimleri kaldır
    $('#notifications-select-all').change(function () {
        var isChecked = $(this).is(':checked');
        $('.notification-list-item-input').prop('checked', isChecked);
    });
   
    // Seçili takip isteklerini sil
    $('.notifications-delete').click(function () {
        var selectedNotifications = [];
        
        // Seçili takip isteklerini listele
        $('.notification-list-item-input:checked').each(function () {
            var notificationId = $(this).closest('.notification-list-item').data('notification-id');
            selectedNotifications.push(notificationId);
        });
   
        // Eğer seçili takip isteği yoksa kullanıcıya uyarı göster
        if (selectedNotifications.length === 0) {
            alert('Lütfen silmek istediğiniz bildirimleri seçin.');
            return;
        }
   
        // Silme işlemi onayı
        if (!confirm('Seçili bildirimleri silmek istediğinizden emin misiniz?')) {
            return;
        }
   
        // AJAX ile silme işlemini gerçekleştir
        $.ajax({
            url: "{% url 'notifications_requests_delete' %}",  // Bu URL'yi views.py'daki ilgili view ismiyle değiştirmelisiniz.
            type: "POST",
            data: {
                'selected_notifications': selectedNotifications,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function (response) {
                if (response.status === 'success') {
                    // Başarılı işlem sonrası silinen elemanları sayfadan kaldır
                    selectedNotifications.forEach(function (id) {
                        $('.notification-list-item[data-notification-id="' + id + '"]').remove();
                    });
                } else {
                    alert('Bildirimleri silerken bir hata oluştu.');
                }
            },
            error: function () {
                alert('Bir hata oluştu.');
            }
        });
    });
   });
   
</script>
{% endblock extra_javascript %}