{% extends 'visitor/home/partials/base.html' %}
{% load static %}
{% block content %}
    <!-- Sections:Start -->

    <div data-bs-spy="scroll" class="scrollspy-example">
      <!-- Hero: Start -->
      <section id="hero-animation">
        <div id="landingHero" class="section-py landing-hero position-relative">
          <img
            src="{% static 'assets/img/front-pages/backgrounds/hero-bg.png' %}"
            alt="hero background"
            class="position-absolute top-0 start-50 translate-middle-x object-fit-cover w-100 h-100"
            data-speed="1" />
          <div class="container">
            <div class="hero-text-box text-center position-relative">
              <h1 class="text-primary hero-title display-6 fw-extrabold">
                Üniversitelilerin Tek Sosyal Medya Platformu
              </h1>
              <h2 class="hero-sub-title h6 mb-6">
                Bütün üniversite öğrencileriyle bağlantı kurun<br class="d-none d-lg-block" />
                ve bilgi alıverişinde bulunun.
              </h2>
              <div class="landing-hero-btn d-inline-block position-relative">
                <span class="hero-btn-item position-absolute d-none d-md-flex fw-medium"
                  >Topluluğa Katıl
                  <img
                    src="{% static 'assets/img/front-pages/icons/Join-community-arrow.png' %}"
                    alt="Join community arrow"
                    class="scaleX-n1-rtl"
                /></span>
                <a href="{% url 'register' %}" class="btn btn-primary btn-lg">Hemen Kayıt Ol</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Hero: End -->

      <!-- Useful features: Start -->
      <section id="futures" class="section-py landing-features">
        <div class="container">
          <div class="text-center mb-4">
            <span class="badge bg-label-primary">Yararlı Özellikler</span>
          </div>
          <h4 class="text-center mb-1">
            <span class="position-relative fw-extrabold z-1"
              >Eğitim hayatınızda
              <img
                src="{% static 'assets/img/front-pages/icons/section-title-icon.png' %}"
                alt="laptop charging"
                class="section-title-img position-absolute object-fit-contain bottom-0 z-n1" />
            </span>
            ve sosyal hayatınızda faydalanabileceğiniz özellikler
          </h4>
          <p class="text-center mb-12">
            Platformumuzda bulunan bazı özelliklerden örnekler aşağıda verilmiştir daha fazlası için kayıt olmanız yeterli.
          </p>
          <div class="features-icon-wrapper row gx-0 gy-6 g-sm-12">
            <div class="col-lg-4 col-sm-6 text-center features-icon-box">
              <div class="text-center mb-4">
                <img src="{% static 'assets/img/front-pages/icons/blog.png' %}" alt="laptop charging" style="height: 80px;" />
              </div>
              <h5 class="mb-2">Gönderi</h5>
              <p class="features-icon-description">
                Fikirlerinizi Paylaşabilir ve Başka Öğrencilerin Fikirlerini Görebilirsiniz. 
              </p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center features-icon-box">
              <div class="text-center mb-4">
                <img src="{% static 'assets/img/front-pages/icons/newspaper.png' %}" alt="transition up" style="height: 80px;" />
              </div>
              <h5 class="mb-2">Blog</h5>
              <p class="features-icon-description">
                Makaleler Yayınlayabilir ve Başka Öğrencilerin Makalelerini Okuyabilirsiniz.
              </p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center features-icon-box">
              <div class="text-center mb-4">
                <img src="{% static 'assets/img/front-pages/icons/store.png' %}" alt="edit" style="height: 80px;" />
              </div>
              <h5 class="mb-2">İlanlar</h5>
              <p class="features-icon-description">
                Eşyalarınızı Satmak İçin İlan Oluşturabilir ve İhtiyacınız Olan Eşyaları Bulabilirsiniz.
              </p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center features-icon-box">
              <div class="text-center mb-4">
                <img src="{% static 'assets/img/front-pages/icons/file-download.png' %}" alt="3d select solid" style="height: 80px;" />
              </div>
              <h5 class="mb-2">Ders Notları</h5>
              <p class="features-icon-description">
                Ders Notlarınızı Paylaşabilirsiniz ve Başkalarının Paylaştığı Ders Notlarını Ücretsiz İndirebilirsiniz.
              </p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center features-icon-box">
              <div class="text-center mb-4">
                <img src="{% static 'assets/img/front-pages/icons/megaphone.png' %}" alt="lifebelt" style="height: 80px;" />
              </div>
              <h5 class="mb-2">İtiraflar</h5>
              <p class="features-icon-description">Üniversitenizle İlgili İtirafları Okuyabilir ve Gizli Şekilde İtiraflarınızı Yazabilirsiniz.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center features-icon-box">
              <div class="text-center mb-4">
                <img src="{% static 'assets/img/front-pages/icons/message.png' %}" alt="google docs" style="height: 80px;" />
              </div>
              <h5 class="mb-2">Soru Cevap</h5>
              <p class="features-icon-description">Aklınıza Takılan Soruları Sorabilir ve Sorulan Sorulara Cevap Yazabilirsiniz.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- Useful features: End -->

      <!-- Real customers reviews: Start -->
      <section id="reviews" class="section-py bg-body landing-reviews pb-0">
        <!-- What people say slider: Start -->
        <div class="container">
          <div class="row align-items-center gx-0 gy-4 g-lg-5 mb-5 pb-md-5">
            <div class="col-md-6 col-lg-5 col-xl-3">
              <div class="mb-4">
                <span class="badge bg-label-primary">Gerçek Kullanıcı Yorumları</span>
              </div>
              <h4 class="mb-1">
                <span class="position-relative fw-extrabold z-1"
                  >Söylenenler
                  <img
                    src="{% static 'assets/img/front-pages/icons/section-title-icon.png' %}"
                    alt="laptop charging"
                    class="section-title-img position-absolute object-fit-contain bottom-0 z-n1" />
                </span>
              </h4>
              <p class="mb-5 mb-md-12">
                Üyelerimizin Deneyimleri<br class="d-none d-xl-block" />
                Hakkında Bir Kaç Yorum.
              </p>
              <div class="landing-reviews-btns">
                <button
                  id="reviews-previous-btn"
                  class="btn btn-label-primary reviews-btn me-4 scaleX-n1-rtl"
                  type="button">
                  <i class="ti ti-chevron-left ti-md"></i>
                </button>
                <button id="reviews-next-btn" class="btn btn-label-primary reviews-btn scaleX-n1-rtl" type="button">
                  <i class="ti ti-chevron-right ti-md"></i>
                </button>
              </div>
            </div>
            <div class="col-md-6 col-lg-7 col-xl-9">
              <div class="swiper-reviews-carousel overflow-hidden">
                <div class="swiper" id="swiper-reviews">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="card h-100">
                        <div class="card-body text-body d-flex flex-column justify-content-between h-100">
                          <p>
                            “İlk senemde not bulmak için çırpınırken Fakulten'le tanıştım. İstatistik dersinin tüm arşivi burada! Artık sınav haftaları panik yok. Teşekkürler 💯”
                          </p>
                          <div class="d-flex align-items-center">
                            <div class="avatar me-3 avatar-sm">
                              <img src="{% static 'assets/img/avatars/1.png' %}" alt="Avatar" class="rounded-circle" />
                            </div>
                            <div>
                              <h6 class="mb-0">Mehmet K.</h6>
                              <p class="small text-muted mb-0">İstanbul Üniversitesi</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="card h-100">
                        <div class="card-body text-body d-flex flex-column justify-content-between h-100">
                          <p>
                            “Yurtta kalıyorum, elden çıkarmam gereken onlarca kitap vardı. İlanım 1 günde 15 kişiyle eşleşti! Sadece uygulama ara yüzü biraz daha hızlı olsa 5 yıldız 😊”
                          </p>
                          <div class="d-flex align-items-center">
                            <div class="avatar me-3 avatar-sm">
                              <img src="{% static 'assets/img/avatars/2.png' %}" alt="Avatar" class="rounded-circle" />
                            </div>
                            <div>
                              <h6 class="mb-0">Ayşe T.</h6>
                              <p class="small text-muted mb-0">Ankara Üniversitesi</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="card h-100">
                        <div class="card-body text-body d-flex flex-column justify-content-between h-100">
                          <p>
                            Pandemi döneminde okulda kimseyi tanımıyordum. Buradan edindiğim arkadaşlarla şimdi aynı kütüphanede ders çalışıyoruz. Sosyalleşme imkânı için mükemmel!
                          </p>
                          <div class="d-flex align-items-center">
                            <div class="avatar me-3 avatar-sm">
                              <img src="{% static 'assets/img/avatars/3.png' %}" alt="Avatar" class="rounded-circle" />
                            </div>
                            <div>
                              <h6 class="mb-0">Berkay K.</h6>
                              <p class="small text-muted mb-0">Orta Doğu Teknik Üniversitesi</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="card h-100">
                        <div class="card-body text-body d-flex flex-column justify-content-between h-100">
                          <p>
                            Diğer sosyal medyalar gibi karmaşık değil. Ders programımı profilime bile ekledim. Tek eksiğiniz karanlık mod olsa da yine de favorim 👏
                          </p>
                          <div class="d-flex align-items-center">
                            <div class="avatar me-3 avatar-sm">
                              <img src="{% static 'assets/img/avatars/4.png' %}" alt="Avatar" class="rounded-circle" />
                            </div>
                            <div>
                              <h6 class="mb-0">Elif Y.</h6>
                              <p class="small text-muted mb-0">Mersin Üniversitesi</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="card h-100">
                        <div class="card-body text-body d-flex flex-column justify-content-between h-100">
                          <p>
                            “Tablet almak için Efe'yle buradan anlaştım. Fakulten'in 'Öğrenci Doğrulaması' sayesinde içim rahattı. Keşke ödemeler direkt uygulama üzerinden olsa 🤞”
                          </p>
                          <div class="d-flex align-items-center">
                            <div class="avatar me-3 avatar-sm">
                              <img src="{% static 'assets/img/avatars/5.png' %}" alt="Avatar" class="rounded-circle" />
                            </div>
                            <div>
                              <h6 class="mb-0">Ozan A.</h6>
                              <p class="small text-muted mb-0">Ege Üniversitesi</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="card h-100">
                        <div class="card-body text-body d-flex flex-column justify-content-between h-100">
                          <p>
                            "Not paylaş, eşya sat, etkinliklere katıl, hatta kantin indirimlerini takip et… Tek uygulamada hepsi! Ücretsiz olması da cabası 🚀"
                          </p>
                          <div class="d-flex align-items-center">
                            <div class="avatar me-3 avatar-sm">
                              <img src="{% static 'assets/img/avatars/1.png' %}" alt="Avatar" class="rounded-circle" />
                            </div>
                            <div>
                              <h6 class="mb-0">Hakan A.</h6>
                              <p class="small text-muted mb-0">Marmara Üniversitesi</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- What people say slider: End -->
        <hr class="m-0 mt-6 mt-md-12" />
      </section>
      <!-- Real customers reviews: End -->

      <!-- Fun facts: Start -->
      <section id="university" class="section-py landing-fun-facts">
                <!-- Logo slider: Start -->
                <div class="container">
                  <div class="swiper-logo-carousel">
                    <div class="swiper" id="swiper-clients-logos">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <img
                            src="{% static 'assets/img/front-pages/branding/gazi.png' %}"
                            alt="client logo"
                            class="client-logo" style="height: 100px;" />
                        </div>
                        <div class="swiper-slide">
                          <img
                            src="{% static 'assets/img/front-pages/branding/mersin.png' %}"
                            alt="client logo"
                            class="client-logo" style="height: 100px;" />
                        </div>
                        <div class="swiper-slide">
                          <img
                            src="{% static 'assets/img/front-pages/branding/dokuz-eylul.png' %}"
                            alt="client logo"
                            class="client-logo" style="height: 100px;" />
                        </div>

                        <div class="swiper-slide">
                          <img
                            src="{% static 'assets/img/front-pages/branding/bogazici.png' %}"
                            alt="client logo"
                            class="client-logo" style="height: 100px;" />
                        </div>
                        <div class="swiper-slide">
                          <img
                            src="{% static 'assets/img/front-pages/branding/selcuk.png' %}"
                            alt="client logo"
                            class="client-logo" style="height: 100px;" />
                        </div>
                        <div class="swiper-slide">
                          <img
                            src="{% static 'assets/img/front-pages/branding/akdeniz.png' %}"
                            alt="client logo"
                            class="client-logo" style="height: 100px;" />
                        </div>
                        <div class="swiper-slide">
                          <img
                            src="{% static 'assets/img/front-pages/branding/anadolu.png' %}"
                            alt="client logo"
                            class="client-logo" style="height: 100px;" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Logo slider: End -->

      </section>
      <!-- Fun facts: End -->

      <!-- FAQ: Start -->
      <section id="landingFAQ" class="section-py bg-body landing-faq">
        <div class="container">
          <div class="text-center mb-4">
            <span class="badge bg-label-primary">SSS</span>
          </div>
          <h4 class="text-center mb-1">
            Sıkça Sorulan
            <span class="position-relative fw-extrabold z-1"
              >Sorular
              <img
                src="{% static 'assets/img/front-pages/icons/section-title-icon.png' %}"
                alt="laptop charging"
                class="section-title-img position-absolute object-fit-contain bottom-0 z-n1" />
            </span>
          </h4>
          <p class="text-center mb-12 pb-md-4">
            Sık sorulan soruların yanıtlarını bulmak için bu SSS'lere göz atın.
          </p>
          <div class="row gy-12 align-items-center">
            <div class="col-lg-5">
              <div class="text-center">
                <img
                  src="{% static 'assets/img/front-pages/landing-page/faq-boy-with-logos.png' %}"
                  alt="faq boy with logos"
                  class="faq-image" />
              </div>
            </div>
            <div class="col-lg-7">
              <div class="accordion" id="accordionExample">
                <div class="card accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button
                      type="button"
                      class="accordion-button"
                      data-bs-toggle="collapse"
                      data-bs-target="#accordionOne"
                      aria-expanded="true"
                      aria-controls="accordionOne">
                      Fakulten'de ücretsiz üye olabilir miyim?
                    </button>
                  </h2>

                  <div id="accordionOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      Evet! Fakulten, Türkiye'deki tüm üniversite öğrencilerine ücretsiz olarak açıktır. Üyelik için yalnızca e-posta adresinizi doğrulamanız gerekmektedir.
                    </div>
                  </div>
                </div>
                <div class="card accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button
                      type="button"
                      class="accordion-button collapsed"
                      data-bs-toggle="collapse"
                      data-bs-target="#accordionTwo"
                      aria-expanded="false"
                      aria-controls="accordionTwo">
                      Paylaştığım ders notları veya satış ilanları herkese açık mı oluyor?
                    </button>
                  </h2>
                  <div
                    id="accordionTwo"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      Eğer profilinizi herkese açık şekilde ayarlarsanız ders notlarınız ve satış için oluşturduğunuz ilanlar herkese açık şekilde görülür, eğer profilinizi gizli yaparsanız bu paylaşımlarınız sadece takipçileriniz tarafından görünür hale gelir.
                    </div>
                  </div>
                </div>
                <div class="card accordion-item active">
                  <h2 class="accordion-header" id="headingThree">
                    <button
                      type="button"
                      class="accordion-button"
                      data-bs-toggle="collapse"
                      data-bs-target="#accordionThree"
                      aria-expanded="false"
                      aria-controls="accordionThree">
                      Sitede eşya satarken komisyon veya ücret alınıyor mu?
                    </button>
                  </h2>
                  <div
                    id="accordionThree"
                    class="accordion-collapse collapse show"
                    aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      Fakulten, öğrenciler arasındaki alışverişi kolaylaştırmak için komisyon almaz ve ödeme için aracı olmaz bu alıcı ile satışı arasında bir ticarettir.
                    </div>
                  </div>
                </div>
                <div class="card accordion-item">
                  <h2 class="accordion-header" id="headingFour">
                    <button
                      type="button"
                      class="accordion-button collapsed"
                      data-bs-toggle="collapse"
                      data-bs-target="#accordionFour"
                      aria-expanded="false"
                      aria-controls="accordionFour">
                      Hesabımı nasıl silebilirim?
                    </button>
                  </h2>
                  <div
                    id="accordionFour"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      Hesap Ayarları > Hesabı Sil bölümünden istediğiniz zaman hesabınızı silebilirsiniz. Bir hesap silindikten sonra geri getirilmesi mümkün değildir.
                    </div>
                  </div>
                </div>
                <div class="card accordion-item">
                  <h2 class="accordion-header" id="headingFive">
                    <button
                      type="button"
                      class="accordion-button collapsed"
                      data-bs-toggle="collapse"
                      data-bs-target="#accordionFive"
                      aria-expanded="false"
                      aria-controls="accordionFive">
                      Bir kullanıcıyı rapor etmek veya uygunsuz içerik bildirmek istersem ne yapmalıyım
                    </button>
                  </h2>
                  <div
                    id="accordionFive"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingFive"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      Diğer kullanıcıların yaptığı her paylaşımın altında Şikayet Et özelliği mevcuttur. Şikayete konu paylaşımı bildirirseniz moderatörlerimiz tarafından gerekli kontroller yapıldıktan sonra ilgili paylaşım silinir.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- FAQ: End -->
    </div>

    <!-- / Sections:End -->
{% endblock %}