{% load static %}

<div class="chat-history-wrapper" style="height: 100%;">
  <div class="chat-history-header border-bottom">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex overflow-hidden align-items-center">
        <i class="ti ti-menu-2 ti-lg cursor-pointer d-lg-none d-block me-4" data-bs-toggle="sidebar" data-overlay data-target="#app-chat-contacts"></i>
        {% if chat.id %}
        {% if user == chat.first_user %}
          <div class="flex-shrink-0 avatar">
          <a href="{% url 'profile' chat.second_user.username %}">
            {% if chat.second_user.profile_photo.profile_photo %}
            <img src="{{ chat.second_user.profile_photo.profile_photo.url }}" alt="Avatar" class="rounded-circle" />
            {%else%}
            <span class="avatar-initial rounded-circle bg-label-primary">{{ chat.second_user.first_name|first }}{{ chat.second_user.last_name|first }}</span>
            {%endif%}
          </a>
          </div>
          <a href="{% url 'profile' chat.second_user.username %}">

          <div class="current-user chat-contact-info flex-grow-1 ms-4" data-user-id="{{chat.second_user.id}}">
              <h6 class="m-0 fw-normal">{{ chat.second_user.first_name }} {{ chat.second_user.last_name }}</h6>
              <small class="user-status text-body">{{ chat.second_user.educational_information.university }}</small>
          </div>
        </a>
        {% else %}
        <div class="flex-shrink-0 avatar">
            <a href="{% url 'profile' chat.first_user.username %}">
              {% if chat.first_user.profile_photo.profile_photo %}
              <img src="{{ chat.first_user.profile_photo.profile_photo.url }}" alt="Avatar" class="rounded-circle" />
              {%else%}
              <span class="avatar-initial rounded-circle bg-label-primary">{{ chat.first_user.first_name|first }}{{ chat.first_user.last_name|first }}</span>
              {%endif%}
            </a>
        </div>
        <a href="{% url 'profile' chat.first_user.username %}">
          <div class="current-user chat-contact-info flex-grow-1 ms-4" data-user-id="{{chat.first_user.id}}">
              <h6 class="m-0 fw-normal">{{ chat.first_user.first_name }} {{ chat.first_user.last_name }}</h6>
              <small class="user-status text-body">{{ chat.first_user.educational_information.university }}</small>
          </div>
        </a>
        {% endif %}
        {% endif %}
      </div>
      {% if chat.id %}
      <div class="d-flex align-items-center">
        <div class="dropdown">
          <button class="btn btn-sm btn-icon btn-text-secondary text-secondary rounded-pill dropdown-toggle hide-arrow" data-bs-toggle="dropdown" aria-expanded="true" id="chat-header-actions">
            <i class="ti ti-dots-vertical ti-md"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="chat-header-actions">
        {% if user == chat.first_user %}
        <a class="dropdown-item" href="{% url 'create_complaint' 'profiles' 'EducationalInformationModel' chat.second_user.id %}">Şikayet Et</a>

        {%else%}
            <a class="dropdown-item" href="{% url 'create_complaint' 'profiles' 'EducationalInformationModel' chat.first_user.id %}">Şikayet Et</a>
            {%endif%}
            <a class="dropdown-item text-danger" href="#"
            data-bs-toggle="modal" data-bs-target="#modalCenter_{{chat.id}}">Sohbeti Sil</a>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  <div id="chat-import" class="position-relative" style="height: 100%;">
    {% if chat.id %}
    <div class="chat-history-body">
      <ul class="list-unstyled chat-history">
        {% for message in data %}
        <li class="chat-message {% if user == message.sender %}chat-message-right{% endif %}" data-message-id="{{ message.id }}">
          <div class="d-flex overflow-hidden">
            <div class="chat-message-wrapper flex-grow-1">
              <div class="chat-message-text">
                <p class="mb-0">{{ message.content|safe }}</p>
              </div>
              <div class="text-end text-muted mt-1">
                <i class="ti ti-check ti-16px me-1"></i>
                <small>{{ message.timestamp }}</small>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    <!-- Chat message form -->
    <div class="chat-history-footer shadow-xs">
      <form class="form-send-message d-flex justify-content-between align-items-center" data-chat-id="{{ chat.id }}" user-id="{{user.id}}">
        {% csrf_token %}
        <input class="form-control message-input border-0 me-4 shadow-none" placeholder="Mesajınızı buraya yazın..." />
        <div class="message-actions d-flex align-items-center">
          <!-- <label for="attach-doc" class="form-label mb-0">
            <i class="ti ti-paperclip ti-md cursor-pointer btn btn-sm btn-text-secondary btn-icon rounded-pill mx-1 text-heading"></i>
            <input type="file" id="attach-doc" hidden />
          </label> -->
          <button type="submit" class="btn btn-primary d-flex send-msg-btn">
            <span class="align-middle d-md-inline-block d-none">Gönder</span>
            <i class="ti ti-send ti-16px ms-md-2 ms-0"></i>
          </button>
        </div>
      </form>
    </div>
    {% else %}
    <!-- No chat selected -->
    <div class="d-flex justify-content-center align-items-center h-50">
      <div class="alert alert-danger alert-dismissible" role="alert">
        <h5 class="alert-heading mb-2">Sohbet Seçilmedi</h5>
        <p class="mb-0">
          Lütfen Menüden Bir Sohbet Seçin veya Bir Sohbet Başlatın.
        </p>
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% if chat.id %}
<!-- Delete Chat Modal -->
<div class="modal fade" id="modalCenter_{{chat.id}}" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="modalCenterTitle">Silme Uyarısı</h5>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           <p>
             Sohbeti Silmek İstediğinizden Emin Misiniz?
           </p>
        </div>
        <div class="modal-footer">
           <a class="btn btn-primary" href="{% url 'delete_chat' chat.id %}">Sil</a>
           <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Vazgeç</button>
        </div>
     </div>
  </div>
</div>
{%endif%}