{% extends 'partials/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'assets/vendor/css/pages/page-profile.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/pages/post.css' %}" />

{% endblock %}
{% block content %}

          <!-- Content wrapper -->
            <!-- Content -->


              <!-- Header -->
              <div class="row mt-8">
                <div class="col-12">
                  <div class="card mb-6">
                    <!-- <div class="user-profile-header-banner">
                      <img src="{% static 'assets/img/pages/profile-banner.png' %}" alt="Banner image" class="rounded-top" />
                    </div> -->
                    <div class="user-profile-header d-flex flex-column flex-lg-row text-sm-start text-center mb-5">
                      <div class="flex-shrink-0 mt-n2 mx-sm-0 mx-auto">
                        {% if profileUser.profilepicturemodel.profile_photo %}
                        {% with profile_photo_url=profileUser.profilepicturemodel.profile_photo.url %}
                        <img src="{{ profile_photo_url }}" 
                        alt="user image"
                        class="d-block h-auto ms-0 ms-sm-6 rounded user-profile-img" />
                        {% endwith %}
                        {% else %}
                        <img src="{% static 'assets/img/avatars/14.png' %}"
                        alt="user image"
                        class="d-block h-auto ms-0 ms-sm-6 rounded user-profile-img" />
                        {% endif %}
                      </div>
                      <div class="flex-grow-1 mt-3 mt-lg-5">
                        <div
                          class="d-flex align-items-md-end align-items-sm-start align-items-center justify-content-md-between justify-content-start mx-5 flex-md-row flex-column gap-4">
                          <div class="user-profile-info">
                            <h4 class="mb-0 mt-lg-6">{{model.User.first_name}} {{model.User.last_name}} <span class="badge badge-center bg-success bg-glow">8.2</span></h4>
                              <span data-bs-toggle="tooltip" data-bs-placement="top" title="Kullanıcı Adı">@{{model.User.username}}</span>
                            <ul
                              class="list-inline mb-0 d-flex align-items-center flex-wrap justify-content-sm-start justify-content-center gap-2 mt-2">
                              <li class="list-inline-item d-flex gap-1"  data-bs-toggle="tooltip" data-bs-placement="top" title="Üniversite">
                                <i class="ti ti-building-bank"></i> {{model.University}}
                              </li>
                              <li class="list-inline-item d-flex gap-1"  data-bs-toggle="tooltip" data-bs-placement="top" title="Bölüm">
                                <i class="ti ti-address-book"></i> {{model.Department}}
                              </li>
                              <li class="list-inline-item d-flex gap-1"  data-bs-toggle="tooltip" data-bs-placement="top" title="Durum">
                                <i class="ti ti-school"></i> {{model.Status}}
                              </li>
                            </ul>
                          </div>
                          {%if user.username == model.User.username %}
                          <a href="{% url 'profile_settings' %}" class="btn btn-primary">
                            <i class="ti ti-settings me-2 ti-sm"></i>Hesap Ayarları
                          </a>
                          {%else%}
                          <a href="javascript:void(0)" class="btn btn-primary">
                            <i class="ti ti-check me-1"></i>Arkadaş Ekle
                          </a>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--/ Header -->

              <!-- Navbar pills -->
              <div class="row">
                <div class="col-md-12">
                  <ul class="nav nav-pills flex-column flex-sm-row mb-4">
                    <li class="nav-item">
                      <a class="nav-link active" href="javascript:void(0);"
                        ><i class="ti-xs ti ti-user-check me-1"></i> Gönderi</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="pages-profile-teams.html"
                        ><i class="ti-xs ti ti-users me-1"></i> Teams</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="pages-profile-projects.html"
                        ><i class="ti-xs ti ti-layout-grid me-1"></i> Projects</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="pages-profile-connections.html"
                        ><i class="ti-xs ti ti-link me-1"></i> Connections</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
              <!--/ Navbar pills -->

              <!-- User Profile Content -->
              <div class="row">
                <div class="col-xl-4 col-lg-5 col-md-5">
                  <!-- About User -->
                  <div class="card mb-4">
                    <div class="card-body">
                      <small class="card-text text-uppercase">About</small>
                      <ul class="list-unstyled mb-4 mt-3">
                        <li class="d-flex align-items-center mb-3">
                          <i class="ti ti-user text-heading"></i
                          ><span class="fw-medium mx-2 text-heading">Full Name:</span> <span>{{profileUser.EducationalInformationModel.Country}}</span>
                        </li>
                        <li class="d-flex align-items-center mb-3">
                          <i class="ti ti-check text-heading"></i
                          ><span class="fw-medium mx-2 text-heading">Status:</span> <span>Active</span>
                        </li>
                        <li class="d-flex align-items-center mb-3">
                          <i class="ti ti-crown text-heading"></i
                          ><span class="fw-medium mx-2 text-heading">Role:</span> <span>Developer</span>
                        </li>
                        <li class="d-flex align-items-center mb-3">
                          <i class="ti ti-flag text-heading"></i
                          ><span class="fw-medium mx-2 text-heading">Country:</span> <span>USA</span>
                        </li>
                        <li class="d-flex align-items-center mb-3">
                          <i class="ti ti-file-description text-heading"></i
                          ><span class="fw-medium mx-2 text-heading">Languages:</span> <span>English</span>
                        </li>
                      </ul>
                      <small class="card-text text-uppercase">Contacts</small>
                      <ul class="list-unstyled mb-4 mt-3">
                        <li class="d-flex align-items-center mb-3">
                          <i class="ti ti-phone-call"></i><span class="fw-medium mx-2 text-heading">Contact:</span>
                          <span>(123) 456-7890</span>
                        </li>
                        <li class="d-flex align-items-center mb-3">
                          <i class="ti ti-brand-skype"></i><span class="fw-medium mx-2 text-heading">Skype:</span>
                          <span>john.doe</span>
                        </li>
                        <li class="d-flex align-items-center mb-3">
                          <i class="ti ti-mail"></i><span class="fw-medium mx-2 text-heading">Email:</span>
                          <span>john.doe@example.com</span>
                        </li>
                      </ul>
                      <small class="card-text text-uppercase">Teams</small>
                      <ul class="list-unstyled mb-0 mt-3">
                        <li class="d-flex align-items-center mb-3">
                          <i class="ti ti-brand-angular text-danger me-2"></i>
                          <div class="d-flex flex-wrap">
                            <span class="fw-medium me-2 text-heading">Backend Developer</span><span>(126 Members)</span>
                          </div>
                        </li>
                        <li class="d-flex align-items-center">
                          <i class="ti ti-brand-react-native text-info me-2"></i>
                          <div class="d-flex flex-wrap">
                            <span class="fw-medium me-2 text-heading">React Developer</span><span>(98 Members)</span>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!--/ About User -->
                  <!-- Profile Overview -->
                  <div class="card mb-4">
                    <div class="card-body">
                      <p class="card-text text-uppercase">Overview</p>
                      <ul class="list-unstyled mb-0">
                        <li class="d-flex align-items-center mb-3">
                          <i class="ti ti-check"></i><span class="fw-medium mx-2">Task Compiled:</span>
                          <span>13.5k</span>
                        </li>
                        <li class="d-flex align-items-center mb-3">
                          <i class="ti ti-layout-grid"></i><span class="fw-medium mx-2">Projects Compiled:</span>
                          <span>146</span>
                        </li>
                        <li class="d-flex align-items-center">
                          <i class="ti ti-users"></i><span class="fw-medium mx-2">Connections:</span> <span>897</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!--/ Profile Overview -->
                </div>
                <div class="col-xl-8 col-lg-7 col-md-7">

                  {% for post in posts %}
                        <div class="card">
                           <div class="card-header d-flex justify-content-between mb-0">
                              <div class="card-title mb-0">
                                 <div class="d-flex">
                                    <div class="d-flex">
                                       <a href="{% url 'profile' post.User.username %}">
                                          <div class="avatar avatar-md me-2">
                                             {% if post.User.profilepicturemodel.profile_photo %}
                                             {% with profile_photo_url=post.User.profilepicturemodel.profile_photo.url %}
                                             <img
                                                src="{{ profile_photo_url }}"
                                                alt="Avatar"
                                                class="rounded-circle" />
                                             {% endwith %}
                                             {% else %}
                                             <img
                                                src="{% static 'assets/img/avatars/14.png' %}"
                                                alt="Avatar"
                                                class="rounded-circle" />
                                             {% endif %}
                                          </div>
                                    </div>
                                    <div class="flex-grow-1 ms-1">
                                    <div class="me-2 h5 mb-0">{{ post.User.first_name }} {{ post.User.last_name }} <small class="text-muted h6"> bir gönderi paylaştı</small></div></a>
                                    <small class="text-muted">{{ post.PublishDate }}</small>
                                    </div>
                                 </div>
                              </div>
                              <div class="dropdown">
                                 <button class="btn p-0" type="button" id="MonthlyCampaign" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 <i class="ti ti-dots-vertical ti-sm text-muted"></i>
                                 </button>
                                 <div class="dropdown-menu dropdown-menu-end" aria-labelledby="MonthlyCampaign">
                                    <a class="dropdown-item" href="javascript:void(0);">Şikayet Et</a>
                                    {% if post.User.username == user.username or user.is_superuser %}
                                    <a class="dropdown-item text-danger" href="#"
                                       data-bs-toggle="modal" data-bs-target="#modalCenter_{{post.id}}">Sil</a>
                                    {%endif%}
                                 </div>
                              </div>
                           </div>
                           <div class="card-body">
                            {{ post.Content }}
                            <div class="gallery-container mt-4">
                              {% for image in post.photos.all %}
                              <div class="gallery-item">
                                 <a href="{{ image.photo.url }}" data-fancybox="gallery-{{ post.post.id }}">
                                 <img src="{{ image.photo.url }}" alt="Post Image">
                                 </a>
                              </div>
                              {% endfor %}
                           </div>
                  
                           <hr />
                           <div class="d-flex align-items-center">
                              <div class="d-flex align-items-center">
                                <a href="javascript:void(0);" class="text-body me-3 like-btn" data-post-id="{{ post.id }}">
                                  <i class="ti ti-heart{% if post.id in user_liked_posts %}-filled{% endif %}"></i>
                                  <span class="like-count text-body">{{ post.likes.count }}</span>
                              </a>
                                 <a href="{% url 'post_detail' post.id %}" class="text-body me-3"
                                    ><i class="ti ti-message-plus"></i> {{ post.comments.count }}</a
                                    >
                                 <div class="dropdown">
                                    <button class="btn p-0" type="button" id="MonthlyCampaign" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-share"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="MonthlyCampaign">
                                       <a class="dropdown-item" href="javascript:void(0);">Şikayet Et</a>
                                       <a class="dropdown-item" href="javascript:void(0);">Sil</a>
                                    </div>
                                 </div>
                              </div>
                              <div class="ms-auto">
                              </div>
                           </div>
                           </div>
                        </div>
                  
                  <div class="modal fade" id="modalCenter_{{post.id}}" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                       <div class="modal-content">
                          <div class="modal-header">
                             <h5 class="modal-title" id="modalCenterTitle">Silme Uyarısı</h5>
                             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                             <p>
                                Paylaşımı Silmek İstediğinizden emin misiniz?
                             </p>
                          </div>
                          <div class="modal-footer">
                             <a class="btn btn-primary" href="{% url 'delete_post' post.id %}">Sil</a>
                             <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Vazgeç</button>
                          </div>
                       </div>
                    </div>
                  </div>
                  
                  {% endfor %}
                  
                </div>
              </div>
              <!--/ User Profile Content -->
            <!-- / Content -->

            {% endblock %}

            {% block extra_javascript %}
    <script src="{% static 'assets/js/pages-profile.js' %}"></script>

            {% endblock %}