{% extends 'profiles/partials/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'assets/vendor/css/pages/page-profile.css' %}" />

{% endblock extra_css%}
{% block profile_content %}
<div class="row">
   <div class="col-xl-4 col-lg-5 col-md-5">
      <!-- About User -->
      <div class="card mb-6">
         <div class="card-body">
            <small class="card-text text-uppercase text-muted small">Hakkında</small>
            <ul class="list-unstyled my-3 py-1">
               <li class="d-flex align-items-center mb-4">
                  <i class="ti ti-user-plus ti-lg"></i><span class="fw-medium mx-2">Kayıt Tarihi:</span>
                  <span>{{profile.date_joined|date:" d F Y"}}</span>
               </li>
               <li class="d-flex align-items-center mb-4">
                  <i class="ti ti-flag ti-lg"></i><span class="fw-medium mx-2">Ülke:</span>
                  <span>{{profile.educationalinformationmodel.Country}}</span>
               </li>
               <li class="d-flex align-items-center mb-4">
                  <i class="ti ti-building-community ti-lg"></i><span class="fw-medium mx-2">Şehir:</span>
                  <span></span>
               </li>
               <li class="d-flex align-items-center mb-4">
                  <i class="ti ti-language ti-lg"></i><span class="fw-medium mx-2">Diller:</span> <span></span>
               </li>
               <li class="d-flex align-items-center mb-4">
                  <i class="ti ti-cake ti-lg"></i><span class="fw-medium mx-2">Doğum Tarihi:</span>
                  <span></span>
               </li>
               <li class="d-flex align-items-center mb-4">
                  <i class="ti ti-gender-bigender ti-lg"></i><span class="fw-medium mx-2">Cinsiyet:</span>
                  <span></span>
               </li>
               <li class="d-flex align-items-center mb-4">
                  <i class="ti ti-heart ti-lg"></i><span class="fw-medium mx-2">İlişki:</span>
                  <span></span>
               </li>
               <li class="d-flex align-items-center mb-0">
                  <i class="ti ti-mail ti-lg"></i><span class="fw-medium mx-2">Mail:</span>
                  <span></span>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="col-xl-8 col-lg-7 col-md-7">
      <div class="row">
         <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card card-border-shadow-info h-100">
               <div class="card-body d-flex justify-content-between align-items-center">
                  <div class="card-title mb-0">
                     <h5 class="mb-1 me-2">0</h5>
                     <p class="mb-0">Arkadaş</p>
                  </div>
                  <div class="card-icon">
                     <span class="badge bg-label-info rounded p-2">
                     <i class="ti ti-friends ti-26px"></i>
                     </span>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card card-border-shadow-danger h-100">
               <div class="card-body d-flex justify-content-between align-items-center">
                  <div class="card-title mb-0">
                     <h5 class="mb-1 me-2">{{comment}}</h5>
                     <p class="mb-0">Yorum</p>
                  </div>
                  <div class="card-icon">
                     <span class="badge bg-label-danger rounded p-2">
                     <i class="ti ti-message-plus ti-26px"></i>
                     </span>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card card-border-shadow-success h-100">
               <div class="card-body d-flex justify-content-between align-items-center">
                  <div class="card-title mb-0">
                     <h5 class="mb-1 me-2">{{like}}</h5>
                     <p class="mb-0">Beğeni</p>
                  </div>
                  <div class="card-icon">
                     <span class="badge bg-label-success rounded p-2">
                     <i class="ti ti-heart-filled ti-26px"></i>
                     </span>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card card-border-shadow-warning h-100">
               <div class="card-body d-flex justify-content-between align-items-center">
                  <div class="card-title mb-0">
                     <h5 class="mb-1 me-2">{{posts}}</h5>
                     <p class="mb-0">Gönderi</p>
                  </div>
                  <a href="{% url 'posts_profile' username=profile.username %}" class="stretched-link"></a>
                  <div class="card-icon">
                     <span class="badge bg-label-warning rounded p-2">
                     <i class="ti ti-ballpen ti-26px"></i>
                     </span>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card card-border-shadow-primary h-100">
               <div class="card-body d-flex justify-content-between align-items-center">
                  <div class="card-title mb-0">
                     <h5 class="mb-1 me-2">{{article}}</h5>
                     <p class="mb-0">Makale</p>
                  </div>
                  <a href="{% url 'articles_profile' username=profile.username %}" class="stretched-link"></a>
                  <div class="card-icon">
                     <span class="badge bg-label-primary rounded p-2">
                     <i class="ti ti-blockquote ti-26px"></i>
                     </span>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card card-border-shadow-dark h-100">
               <div class="card-body d-flex justify-content-between align-items-center">
                  <div class="card-title mb-0">
                     <h5 class="mb-1 me-2">{{marketplace}}</h5>
                     <p class="mb-0">İlan</p>
                  </div>
                  <div class="card-icon">
                     <span class="badge bg-label-dark rounded p-2">
                     <i class="ti ti-building-store ti-26px"></i>
                     </span>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card card-border-shadow-secondary h-100">
               <div class="card-body d-flex justify-content-between align-items-center">
                  <div class="card-title mb-0">
                     <h5 class="mb-1 me-2">{{documents}}</h5>
                     <p class="mb-0">Ders Notu</p>
                  </div>
                  <div class="card-icon">
                     <span class="badge bg-label-secondary rounded p-2">
                     <i class="ti ti-notebook ti-26px"></i>
                     </span>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card card-border-shadow-info h-100">
               <div class="card-body d-flex justify-content-between align-items-center">
                  <div class="card-title mb-0">
                     <h5 class="mb-1 me-2">{{confessions}}</h5>
                     <p class="mb-0">İtiraf</p>
                     <small class="mb-0">Gizli Olmayan</small>
                  </div>
                  <div class="card-icon">
                     <span class="badge bg-label-info rounded p-2">
                     <i class="ti ti-spy ti-26px"></i>
                     </span>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card card-border-shadow-danger h-100">
               <div class="card-body d-flex justify-content-between align-items-center">
                  <div class="card-title mb-0">
                     <h5 class="mb-1 me-2">{{questions}}</h5>
                     <p class="mb-0">Soru</p>
                  </div>
                  <div class="card-icon">
                     <span class="badge bg-label-danger rounded p-2">
                     <i class="ti ti-message-2-question ti-26px"></i>
                     </span>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card card-border-shadow-success h-100">
               <div class="card-body d-flex justify-content-between align-items-center">
                  <div class="card-title mb-0">
                     <h5 class="mb-1 me-2">0</h5>
                     <p class="mb-0">Etkinlik</p>
                  </div>
                  <div class="card-icon">
                     <span class="badge bg-label-success rounded p-2">
                     <i class="ti ti-calendar-stats ti-26px"></i>
                     </span>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}