{% extends 'profiles/partials/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'assets/vendor/css/pages/page-profile.css' %}" />
<style>
   .card img {
   height: 200px; /* İstediğiniz yükseklik */
   object-fit: cover; /* Resmi alanın tamamına sığdır */
   width: 100%; /* Resmi genişliğe yay */
   }
</style>
{% endblock extra_css%}

{% block profile_content %}

<div class="row gy-6 mb-6">
   {% for article in marketplace %}
   <div class="col-sm-6 col-lg-4">
      <div class="card p-2 h-100 shadow-none border">
         <div class="bg-label-primary rounded text-center">
            <a href="{% url 'marketplace_detail' article.slug %}">
            {% for image in article.futured_image.all %}
            <img class="img-fluid rounded" src="{{ image.photo.url }}" alt="tutor image 1" />
            {% endfor %}
            </a>
         </div>
         <div class="card-body p-4 pt-2 d-flex flex-column justify-content-between">
            <div>
               <div class="d-flex justify-content-between align-items-center mb-4">
                  <span class="badge bg-label-primary">{{ article.category }}</span>
                  <p class="d-flex align-items-center justify-content-center fw-medium gap-1 mb-0">
                     <small class="fw-normal">{{ article.create_at }}</small>
                  </p>
               </div>
               <a href="{% url 'marketplace_detail' article.slug %}"> <h3 class="mb-0">{{ article.title }}</h3></a>
               <p class="mt-1" align="justify">{{ article.content|safe|truncatechars:255 }}</p>
               <span class="badge bg-label-success">{{ article.price }}</span>
               <span class="badge bg-label-secondary">{{ article.city }}</span>

            </div>
            <div>
               <hr  />
               <div class="d-flex">
                  <div class="avatar-wrapper">
                     <div class="avatar me-4">
                        <a href="{% url 'profile' article.user.username %}">
                        {% if article.user.profilepicturemodel.profile_photo %}
                        {% with profile_photo_url=article.user.profilepicturemodel.profile_photo.url %}
                        <img src="{{ profile_photo_url }}" alt="Avatar" class="rounded-circle" />
                        {% endwith %}
                        {% else %}
                        <img src="{static 'assets/img/avatars/11.png' %}" alt="Avatar" class="rounded-circle" />
                        {% endif %}
                        </a>
                     </div>
                  </div>
                  <div class="d-flex flex-column text-muted">
                     <a href="{% url 'profile' article.user.username %}">
                     <small class="text-body">{{article.user.first_name}} {{article.user.last_name}}</small>
                     </a>
                     <small>{{article.user.educationalinformationmodel.University}}</small>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   {%empty%}
   <div class="col-sm-12 col-lg-12">

   <div class="card ">
      <div class="card-body d-flex justify-content-center">
         Paylaşım Yapmadı
      </div>
   </div>
</div>
   {% endfor %}
</div>


{% endblock %}
{% block extra_javascript %}
<script src="{% static 'assets/fancybox/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'assets/js/pages/likes/like.js' %}"></script>

{% endblock extra_javascript %}