{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
{% endblock extra_css%}

{% block content %}
<div class="row">
  <div class="d-flex justify-content-between align-items-between bd-highlight">
    <div class="flex-grow-1 bd-highlight">
      <h3 class="mb-0 mt-0 fw-bold">Üyeler</h3>
      <small>
         {% if user_filter.category or user_filter.following_only or user_filter.university or user_filter.department or user_filter.status %}
               {% if user_filter.following_only %}
               <span class="badge rounded-pill bg-label-success">Takip Ettiklerim</span>
               {% endif %}
               {% if user_filter.category %}
               <span class="badge rounded-pill bg-label-success">{{ user_filter.category }}</span>
               {% endif %}
               {% if user_filter.country %}
               <span class="badge rounded-pill bg-label-success">{{ user_filter.country }}</span>
               {% endif %}
               {% if user_filter.university %}
               <span class="badge rounded-pill bg-label-success">{{ user_filter.university }}</span>
               {% endif %}
               {% if user_filter.department %}
               <span class="badge rounded-pill bg-label-success">{{ user_filter.department }}</span>
               {% endif %}
               {% if user_filter.status %}
               <span class="badge rounded-pill bg-label-success">{{ user_filter.status }}</span>
               {% endif %}
                  {%else%}
                  <span class="badge rounded-pill bg-label-success">Filtre Yok</span>
    
                  {% endif %}
      </small>
    </div>
    <div class="bd-highlight">
       <button class="btn btn-sm btn-label-danger rounded-pill" data-bs-toggle="offcanvas" data-bs-target="#filter-canvas" aria-controls="offcanvasEnd"><i class="ti ti-filter-check me-1"></i>Filtrele</button>
    </div>
  </div>
</div>
<div  class="mb-4">

</div>
  <!-- Connection Cards -->
  <div class="row g-6 infinite-container">
    {% for member in members %}
    <div class="col-lg-4 mb-4 infinite-item">
      <div class="card card-border-shadow-primary h-100">
        <div class="card-body text-center">
          <div class="dropdown btn-pinned">
            <button
              type="button"
              class="btn btn-icon btn-text-secondary rounded-pill dropdown-toggle hide-arrow p-4"
              data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="ti ti-dots-vertical ti-md text-muted"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="javascript:void(0);">Share connection</a></li>
              <li><a class="dropdown-item" href="javascript:void(0);">Block connection</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li><a class="dropdown-item text-danger" href="javascript:void(0);">Delete</a></li>
            </ul>
          </div>
          <div class="mx-auto my-6 d-flex justify-content-center">
          <a href="{% url 'profile' member.username %}">

            {% if member.profile_photo.profile_photo %}
            {% with profile_photo_url=member.profile_photo.profile_photo.url %}
            <img src="{{ profile_photo_url }}" alt="Avatar Image" class="rounded-circle h-px-100" />
            {% endwith %}
            {% else %}
            <div class="avatar avatar-xl me-8 mb-8">
              <span class="uye avatar-initial rounded-circle bg-label-primary w-px-100 h-px-100">{{ member.first_name|first }}{{ member.last_name|first }}</span>
            </div>

            <!-- <img src="{% static 'assets/img/avatars/14.png' %}" alt="Avatar Image" class="rounded-circle w-px-100" /> -->
            {% endif %}
          </a>
          </div>
          <a href="{% url 'profile' member.username %}">
            <!-- <h5 class="mb-0 card-title">{{member.first_name}} {{member.last_name}}</h5> -->
            <h4 class="card-title fw-bold mb-0">{{member.first_name}} {{member.last_name}} {% if member.privacy.is_private %}<i class="ti ti-lock"></i>{%endif%}</h4>

            <span class="text-body">@{{member.username}}</span>
          </a>
          <ul class="list-inline mb-0 d-flex align-items-center flex-wrap justify-content-center gap-4 my-2">
            <li class="list-inline-item d-flex gap-2 align-items-center">
               <span class="badge bg-label-success" id="follower-count"><strong>{{member.followers.count}}</strong> Takipçi</span>
            </li>
            <li class="list-inline-item d-flex gap-2 align-items-center">
               <span class="badge bg-label-info"><strong>{{member.following.count}}</strong> Takip</span>
            </li>
            </ul>
        </div>
        <div class="card-footer">
          <div class="d-flex flex-wrap align-items-center justify-content-center mb-2 mt-2 gap-2">
            <span class="badge bg-label-primary d-flex align-items-center rounded-pill"><i class="ti ti-building-bank"></i>{{member.educational_information.university}}</span>
            <span class="badge bg-label-primary d-flex align-items-center rounded-pill"><i class="ti ti-address-book"></i>{{member.educational_information.department}}</span>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-2 mt-2 gap-2">
            <span class="badge bg-label-primary d-flex align-items-center rounded-pill mb-3"><i class="ti ti-school me-1"></i>{{member.educational_information.status}}</span>
          </div>
            </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="col-lg-4 loading-container">
    <div class="loading" style="display:none;">
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
       {% if members.has_next %}
       <a class="infinite-more-link" href="?{% for key, value in request.GET.items %}{{ key }}={{ value }}&{% endfor %}page={{ members.next_page_number }}">Sonraki</a>
       {% endif %}
    </div>
 </div>
<!-- Canvas -->
<div
   class="offcanvas offcanvas-end"
   tabindex="-1"
   id="filter-canvas"
   aria-labelledby="offcanvasEndLabel">
   <div class="offcanvas-header">
      <h5 id="offcanvasEndLabel" class="offcanvas-title">Filtrele</h5>
      <button
         type="button"
         class="btn-close text-reset"
         data-bs-dismiss="offcanvas"
         aria-label="Close"></button>
   </div>
   <div class="offcanvas-body flex-grow-0">
    <form method="POST">
      {% csrf_token %}
    {{ filter.form|crispy}}

    <button type="submit" class="btn btn-primary mb-2 d-grid w-100">Filtrele</button>
    <button type="submit" class="btn btn-danger mb-2 d-grid w-100" name="reset_filter">Filtreyi Temizle</button>
    <button
       type="button"
       class="btn btn-label-secondary d-grid w-100"
       data-bs-dismiss="offcanvas">
    Vazgeç
    </button>
    </form>
   </div>
</div>
<!-- End Canvas -->
{% endblock content %}

{% block extra_javascript %}
<script src="{% static 'assets/js/waypoints/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'assets/js/waypoints/infinite.min.js' %}"></script>
<script src="{% static 'assets/js/waypoints/custom.js' %}"></script>
{% endblock extra_javascript %}

