{% extends 'partials/base.html' %}
{% load static %}

{% block extra_css %}
{% endblock extra_css%}

{% block content %}
<div class="row">
  <div class="d-flex flex-column flex-md-row justify-content-end align-items-end align-items-md-end mb-6 row-gap-4">
     <div class="d-flex gap-4">
        <button class="btn btn-sm btn-label-danger rounded-pill" data-bs-toggle="offcanvas" data-bs-target="#filter-canvas" aria-controls="offcanvasEnd"><i class="ti ti-filter-check me-1"></i>Filtre</button>
     </div>
  </div>
</div>

  <!-- Connection Cards -->
  <div class="row g-6">
    {% for member in members %}
    {% if user != member %}
    <div class="col-xl-4 col-lg-6 col-md-6">
      <div class="card card-border-shadow-primary">
        <div class="card-body text-center">
          <div class="dropdown btn-pinned">
            <button
              type="button"
              class="btn btn-icon btn-text-secondary rounded-pill dropdown-toggle hide-arrow p-4"
              data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="ti ti-dots-vertical ti-md text-muted"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="javascript:void(0);">Share connection</a></li>
              <li><a class="dropdown-item" href="javascript:void(0);">Block connection</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li><a class="dropdown-item text-danger" href="javascript:void(0);">Delete</a></li>
            </ul>
          </div>
          <div class="mx-auto my-6">
          <a href="{% url 'profile' member.username %}">

            {% if member.profilepicturemodel.profile_photo %}
            {% with profile_photo_url=member.profilepicturemodel.profile_photo.url %}
            <img src="{{ profile_photo_url }}" alt="Avatar Image" class="rounded-circle w-px-100" />
            {% endwith %}
            {% else %}
            <img src="{% static 'assets/img/avatars/14.png' %}" alt="Avatar Image" class="rounded-circle w-px-100" />
            {% endif %}
          </a>
          </div>
          <a href="{% url 'profile' member.username %}">
            <!-- <h5 class="mb-0 card-title">{{member.first_name}} {{member.last_name}}</h5> -->
            <h4 class="card-title fw-bold mb-0">{{member.first_name}} {{member.last_name}}</h4>

            <span class="text-body">@{{member.username}}</span>
          </a>
          <div class="d-flex align-items-center justify-content-center mb-2 mt-2 gap-2">
            <span class="badge bg-label-secondary d-flex align-items-center rounded-pill"><i class="ti ti-building-bank"></i>{{member.educationalinformationmodel.University}}</span>
            <span class="badge bg-label-secondary d-flex align-items-center rounded-pill"><i class="ti ti-address-book"></i>{{member.educationalinformationmodel.Department}}</span>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-2 mt-2 gap-2">
            <span class="badge bg-label-secondary d-flex align-items-center rounded-pill mb-3"><i class="ti ti-school me-1"></i>{{member.educationalinformationmodel.Status}}</span>
          </div>

          <div class="d-flex align-items-center justify-content-center">
            {% if member_following_status|default:"false" %}
               <button class="btn btn-sm btn-danger mb-1" id="follow-btn" data-user-id="{{ member.id }}">
                  <i class="ti ti-user-x me-2"></i>Takibi Bırak
               </button>
            {% else %}
            <button class="btn btn-sm btn-primary mb-1" id="follow-btn" data-user-id="{{ member.id }}">
               <i class="ti ti-user-plus me-2"></i>Takip Et
            </button>
            {% endif %}
            <a href="{% url 'start_chat' member.id %}" class="btn btn-sm btn-success ms-4 mb-1">
               <i class="ti ti-mail-forward"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    {% endfor %}
  </div>
  <!--/ Connection Cards -->






<!-- Canvas -->
<div
   class="offcanvas offcanvas-end"
   tabindex="-1"
   id="filter-canvas"
   aria-labelledby="offcanvasEndLabel">
   <div class="offcanvas-header">
      <h5 id="offcanvasEndLabel" class="offcanvas-title">Filtrele</h5>
      <button
         type="button"
         class="btn-close text-reset"
         data-bs-dismiss="offcanvas"
         aria-label="Close"></button>
   </div>
   <div class="offcanvas-body my-auto mx-0 flex-grow-0">
      <button type="button" class="btn btn-primary mb-2 d-grid w-100">Filtrele</button>
      <button
         type="button"
         class="btn btn-label-secondary d-grid w-100"
         data-bs-dismiss="offcanvas">
      Vazgeç
      </button>
   </div>
</div>
<!-- End Canvas -->
{% endblock content %}

{% block extra_javascript %}

{% endblock extra_javascript %}

