
{% load static %}
<div class="row justify-content-center infinite-container">
{% for comment in comments %}
<div class="col-lg-8 mb-4 infinite-item">
<div class="card card-border-shadow-primary mb-4">
   <div class="card-header d-flex justify-content-between mb-0">
      <div class="d-flex align-items-center">
         <a href="{% url 'profile' comment.user.username %}" class="d-flex text-decoration-none">
            <div class="avatar avatar-md me-2 flex-shrink-0">
               {% if comment.user.profile_photo.profile_photo %}
               <img src="{{ comment.user.profile_photo.profile_photo.url }}" 
                  alt="Avatar" 
                  class="rounded-circle" 
                  />
               {% else %}
               <span class="avatar-initial rounded-circle bg-label-primary">{{ comment.user.first_name|first }}{{ comment.user.last_name|first }}</span>
               {% endif %}
            </div>
            <div class="d-flex flex-column">
               <div class="me-2 h5 mb-1" style="line-height: 1.2; margin-bottom: 0;">
                  {{ comment.user.first_name }} {{ comment.user.last_name }} 
                  <small class="text-muted h6">
                  yorum yaptı.
                  </small>
               </div>
               <small class="text-muted">{{ comment.user.educational_information.university }}</small>
            </div>
         </a>
      </div>
      {% if user.is_authenticated %}

      <div class="dropdown">
         <button class="btn p-0" type="button" data-id="{{ comment.id }}" id="MonthlyCampaign" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <i class="ti ti-dots-vertical ti-sm text-muted"></i>
         </button>
         <div class="dropdown-menu dropdown-menu-end" aria-labelledby="MonthlyCampaign">
            <a class="dropdown-item" href="{% url 'create_complaint' 'comments' 'Comment' comment.id %}">Şikayet Et</a>
            {% if comment.user.username == user.username or user.is_superuser %}
            <a class="dropdown-item text-danger delete-post-btn" href="#" data-id="{{ comment.id }}" data-bs-toggle="modal" data-bs-target="#deleteModal">Sil</a>
            {% endif %}
         </div>
      </div>
      {% endif %}
      
   </div>
   <div class="card-body">
      <p class="text-body"> {{ comment.text }} </p>
      <div class="gallery-container mt-4">
         {% for image in comment.photos.all %}
         <div class="gallery-item">
            <a href="{{ image.image.url }}" data-fancybox="gallery-{{ comment.comment.id }}">
            <img src="{{ image.image.url }}" class="border" alt="Post Image">
            </a>
         </div>
         {% endfor %}
      </div>
      <hr />


      <div class="d-flex bd-highlight">
         <div class="bd-highlight">
         {% if user.is_authenticated %}
            <a href="javascript:void(0);" class="text-body me-3 like-btn" data-content-type-id="{{comment.likes.content_type.id}}" data-object-id="{{comment.id}}">
               <i class="ti ti-heart{% if comment.id in liked_comment %}-filled{% endif %} text-primary"></i>
               <span class="like-count">{% if comment.id in liked_comment %}Beğendin {% else %}Beğen{% endif %} ({{ comment.likes.count }})</span>
            </a>
         {%else%}
            <i class="ti ti-heart text-primary"></i>
            <span class="like-count text-body me-3">Beğeni ({{ comment.likes.count }})</span>
         {%endif%}
         </div>
         <div class="bd-highlight">
            <a href="{% url 'comment_detail' comment.id %}" class="text-body me-3">
               <i class="ti ti-message-filled text-danger"></i> Yorum Yap ({{ comment.replies.count }})
            </a>
         </div>
      </div>
      <div class="d-flex flex-row-reverse bd-highlight">
         <small class="text-muted">{{ comment.created_at }}</small>
      </div>
   </div>
</div>
</div>
{% endfor %}

</div>

<!-- Comment Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="modal-header">
         <h5 class="modal-title" id="deleteModalTitle">Silme Uyarısı</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
         <p>Paylaşımı Silmek İstediğinizden emin misiniz?</p>
         </div>
         <div class="modal-footer">
         <!-- Bu link dinamik olarak güncellenecek -->
         <a class="btn btn-primary" id="confirmDeleteBtn" href="#">Sil</a>
         <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Vazgeç</button>
         </div>
      </div>
   </div>
   </div>


 <!-- loading  -->
 <div class="row justify-content-center justify-content-center">
   <div class="col-lg-8 loading-container">
     <div class="loading" style="display: none;" >
        <div class="card card-border-shadow-primary">
           <div class="card-header d-flex justify-content-between mb-0">
             <div class="d-flex align-items-center">
               <div class="avatar avatar-md me-2 flex-shrink-0">
                 <!-- Skeleton for Avatar -->
                 <div class="skeleton skeleton-circle skeleton-avatar"></div>
               </div>
               <div class="d-flex flex-column">
                 <!-- Skeleton for Name and University -->
                 <div class="skeleton skeleton-text skeleton-name"></div>
                 <div class="skeleton skeleton-text skeleton-university mt-1"></div>
               </div>
             </div>
             <!-- Skeleton for Dropdown Button -->
             <div class="skeleton skeleton-icon skeleton-dots"></div>
           </div>
           <div class="card-body">
             <!-- Skeleton for Post Content -->
             <div class="skeleton skeleton-text skeleton-content mb-2"></div>
             <div class="skeleton skeleton-text skeleton-content"></div>
             <hr />
       
             <!-- Skeleton for Buttons and Date -->
             <div class="d-flex justify-content-center align-items-center">
               <div class="skeleton skeleton-text skeleton-btn"></div>
               <div class="skeleton skeleton-text skeleton-btn ms-3"></div>
               <div class="ms-auto">
                 <div class="skeleton skeleton-text skeleton-date"></div>
               </div>
             </div>
           </div>
         </div>
     </div>
     </div>
  </div>

  <!-- paginator -->
 <div class="row">
   <div class="col-lg-8">
      {% if comments.has_next %}
      <a class="infinite-more-link" href="?{% for key, value in request.GET.items %}{{ key }}={{ value }}&{% endfor %}page={{ comments.next_page_number }}">Sonraki</a>
      {% endif %}
   </div>
</div>
