
{% load static %}

<div class="card mb-4">
   <div class="card-header d-flex justify-content-between mb-0">
      <div class="card-title mb-0">
         <div class="d-flex">
            <div class="d-flex">
               <a href="{% url 'profile' comment.user.username %}">
                  <div class="avatar avatar-md me-2">
                     {% if comment.user.profilepicturemodel.profile_photo %}
                     {% with profile_photo_url=comment.user.profilepicturemodel.profile_photo.url %}
                     <img
                        src="{{ profile_photo_url }}"
                        alt="Avatar"
                        class="rounded-circle" />
                     {% endwith %}
                     {% else %}
                     <img
                        src="{% static 'assets/img/avatars/14.png' %}"
                        alt="Avatar"
                        class="rounded-circle" />
                     {% endif %}
                  </div>
            </div>
            <div class="flex-grow-1 ms-1">
            <div class="me-2 h5 mb-0">{{ comment.user.first_name }} {{ comment.user.last_name }} <small class="text-muted h6"> bir yorum gönderdi.</small></div></a>
            <small class="text-muted">{{ comment.created_at }}</small>
            </div>
         </div>
      </div>
      <div class="dropdown">
         <button class="btn p-0" type="button" id="MonthlyCampaign" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <i class="ti ti-dots-vertical ti-sm text-muted"></i>
         </button>
         <div class="dropdown-menu dropdown-menu-end" aria-labelledby="MonthlyCampaign">
            <a class="dropdown-item" href="javascript:void(0);">Şikayet Et</a>
            {% if comment.user.username == user.username or user.is_superuser %}
            <a class="dropdown-item text-danger" href="#"
               data-bs-toggle="modal" data-bs-target="#modalCenter_{{comment.id}}">Sil</a>
            {%endif%}
         </div>
      </div>
   </div>
   <div class="card-body">
    {{ comment.text }}
    <div class="gallery-container mt-4">
      {% for image in comment.photos.all %}
      <div class="gallery-item">
         <a href="{{ image.photo.url }}" data-fancybox="gallery-{{ comment.id }}">
         <img src="{{ image.photo.url }}" alt="Comment Image">
         </a>
      </div>
      {% endfor %}
   </div>

   <hr />
   <div class="d-flex align-items-center">
      <div class="d-flex align-items-center">
         <a href="javascript:void(0);" class="text-body me-3 like-btn" data-content-type-id="{{comment.likes.content_type.id}}" data-object-id="{{comment.id}}">
            <i class="ti ti-heart{% if comment.id in liked_comment %}-filled{% endif %}"></i>
            <span class="like-count text-body">{{ comment.likes.count }}</span>
        </a>
        <a href="{% url 'comment_detail' comment.id %}" class="text-body me-3"
        ><i class="ti ti-message-plus"></i> {{ comment.replies.count }}</a>
      </div>
      <div class="ms-auto">
      </div>
   </div>
   </div>
</div>

<div class="modal fade" id="modalCenter_{{comment.id}}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="modalCenterTitle">Silme Uyarısı</h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
             <p>
                Yorumu Silmek İstediğinizden emin misiniz?
             </p>
          </div>
          <div class="modal-footer">
             <a class="btn btn-primary" href="{% url 'delete_comment' comment.id %}">Sil</a>
             <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Vazgeç</button>
          </div>
       </div>
    </div>
  </div>