{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'assets/vendor/libs/bootstrap-select/bootstrap-select.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/pages/marketplace/add.css' %}" />
{{form.media}}
<style>
   .django-ckeditor-widget {
   display: block !important;
   }
</style>
{% endblock extra_css%}
{% block content %}
<div class="row justify-content-center">
   <div class="col-lg-8 col-md-8 col-xxl-8">
      <div class="card shadow-none bg-label-primary mb-4">
         <div class="card-header d-flex justify-content-between">
            <div class="card-title mb-0">
               <h5 class="text-primary mb-0 fw-bold">İlan Yayınla</h5>
            </div>
         </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
         {% csrf_token %}
         <div class="card mb-4">
            <div class="card-body">
               {{form.title|as_crispy_field}}
            </div>
         </div>
         <div class="card mb-4">
            <div class="card-body">
               <label for="id_images" class="form-label requiredField">
               Öne Çıkan Görseller
               </label>
               {{ form.images.errors }}
               <!-- Custom file upload area -->
               <div id="upload-container" class="upload-container">
                  <input type="file" id="images" name="images" accept="image/*" onchange="previewImages(event)" multiple style="display:none;">
                  <input type="hidden" id="deleted-images" name="deleted_images">
              
                  <div id="upload-area" class="upload-area text-center">
                      <i class="ti ti-cloud-upload ti-32px mb-4"></i>
                      <p>Resim Yüklemek İçin Tıkla</p>
                  </div>
              </div>
              <!-- Image preview area -->
              <div id="image-previews" class="image-previews">
                  {% for image in instance.images.all %}
                      <div class="image-preview" data-image-id="{{ image.id }}">
                          <img src="{{ image.image.url }}" alt="Yüklenmiş Resim">
                          <button type="button" class="delete-btn" onclick="removeImage(this)">X</button>
                      </div>
                  {% endfor %}
              </div>
              <div id="id_images_helptext" class="form-text mb-4">İlanınızla alaklı görselleri yükleyiniz. Maksimum 20 fotoğraf yüklenebilir. Zorunlu değil.</div>
            </div>
         </div>
         <div class="card mb-4">
            <div class="card-body">
               {{form.description|as_crispy_field}}
            </div>
         </div>
         <div class="card mb-4">
            <div class="card-body">
               <label for="id_images" class="form-label requiredField">
                  Para Birimi ve Fiyat
                  </label>
               <div class="input-group">
                  {{ form.currency }}
                  {{ form.price }}
              </div>
              <div id="id_price_helptext" class="form-text mb-4">Para birimini seçin ve fiyatı yazın.</div>
            </div>
         </div>
         <div class="card mb-4">
            <div class="card-body">
               {{form.category|as_crispy_field}}


            </div>
         </div>
         <div class="card mb-4">
            <div class="card-body">
               {{form.country|as_crispy_field}}
            </div>
         </div>
         <div class="card mb-4">
            <div class="card-body">
               {{form.city|as_crispy_field}}
            </div>
         </div>
         <div class="card mb-4">
            <div class="card-body">
               {{form.phone_number|as_crispy_field}}
            </div>
         </div>
         <div class="card mb-4">
            <div class="card-body">
               {{form.is_published|as_crispy_field}}
            </div>
         </div>
         <button type="submit" class="btn btn-label-primary">Gönder</button>
      </form>
   </div>
</div>
{% endblock content %}
{% block extra_javascript %}

<script src="{% static 'assets/vendor/libs/bootstrap-select/bootstrap-select.js' %}"></script>
<script>
   document.addEventListener("DOMContentLoaded", function() {
    var previewsArea = document.getElementById('image-previews');
    var uploadContainer = document.getElementById('upload-container');

    // Daha önce yüklenmiş resimler varsa, upload-container gizlenmeli ve addIconDiv görünmeli
    if (previewsArea.querySelectorAll('.image-preview').length > 0) {
        previewsArea.style.display = 'flex';
        uploadContainer.style.display = 'none';
        showAddIconDiv(previewsArea);
    }

    // Dosya seçimini tetiklemek için tıklama olayı ekleniyor
    uploadContainer.addEventListener('click', function() {
        document.getElementById('images').click();
    });
});

// Seçilen dosyaları takip eden array
var selectedFiles = [];

// Yeni dosya seçildiğinde önizleme yapma
function previewImages(event) {
    var files = Array.from(event.target.files);
    var previewsArea = document.getElementById('image-previews');
    var uploadContainer = document.getElementById('upload-container');

    files.forEach(function(file) {
        selectedFiles.push(file);

        var reader = new FileReader();
        reader.onload = function() {
            var previewDiv = document.createElement('div');
            previewDiv.className = 'image-preview';
            previewDiv.innerHTML = `
                <img src="${reader.result}" alt="Seçilen Resim">
                <button type="button" class="delete-btn" onclick="removeImage(this, '${file.name}')">X</button>
            `;
            previewsArea.appendChild(previewDiv);
        };
        reader.readAsDataURL(file);
    });

    uploadContainer.style.display = 'none';
    previewsArea.style.display = 'flex';
    
    showAddIconDiv(previewsArea);

    // Input'un değerini sıfırla, böylece aynı dosyayı tekrar seçebilirsin
    event.target.value = '';
}


// addIconDiv'i gösteren fonksiyon
function showAddIconDiv(previewsArea) {
    if (!previewsArea.querySelector('.upload-icon-area')) {
        var addIconDiv = document.createElement('div');
        addIconDiv.className = 'image-preview';
        addIconDiv.innerHTML = `
            <div class="upload-icon-area">
                <i class="ti ti-plus ti-32px mb-4"></i>
            </div>
        `;
        previewsArea.insertBefore(addIconDiv, previewsArea.firstChild);

        // addIconDiv'e tıklama olayı ekleniyor
        addIconDiv.addEventListener('click', function() {
            document.getElementById('images').click();
        });
    }
}

function removeImage(button, fileName) {
    var previewDiv = button.parentElement;
    var previewsArea = document.getElementById('image-previews');
    var uploadContainer = document.getElementById('upload-container');
    var imageId = previewDiv.dataset.imageId;
    var deletedImagesInput = document.getElementById('deleted-images');

    // Önizleme div'ini kaldır
    previewDiv.remove();

    // selectedFiles array'inden dosyayı kaldır (sadece yeni eklenen dosyalar için)
    if (fileName) {
        selectedFiles = selectedFiles.filter(function(file) {
            return file.name !== fileName;
        });
    }

    // Resim ID'sini saklama (silinen resim ID'lerini saklamak için)
    if (imageId) {
        var currentValue = deletedImagesInput.value;
        deletedImagesInput.value = currentValue ? currentValue + ',' + imageId : imageId;
    }

    // Görünüm güncelleme
    if (previewsArea.querySelectorAll('.image-preview').length === 1) {  // Sadece addIconDiv kalmışsa
        previewsArea.style.display = 'none';
        uploadContainer.style.display = 'block';
    }
}

// Form gönderildiğinde seçilen dosyaları input elementine ekleme
document.querySelector('form').addEventListener('submit', function(event) {
    var inputElement = document.getElementById('images');
    var dataTransfer = new DataTransfer();

    selectedFiles.forEach(function(file) {
        dataTransfer.items.add(file);
    });

    inputElement.files = dataTransfer.files;

    // selectedFiles dizisini temizle
    selectedFiles = [];
});
</script>

{% endblock extra_javascript %}