{% extends 'partials/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'assets/vendor/libs/swiper/swiper.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendor/css/pages/ui-carousel.css' %}" />
<link rel="stylesheet" href="{% static 'assets/fancybox/jquery.fancybox.min.css' %}">

{% endblock extra_css%}
{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-8 mb-4">
        <button type="button" onclick="history.back()" class="btn btn-sm btn-label-primary rounded-pill waves-effect">
          <span class="ti-xs ti ti-chevron-left me-2"></span>Geri Dön
        </button>
    </div>
  </div>

<div class="row justify-content-center">
   <div class="col-lg-8">
      <div class="card">
         <div class="card-body">
            <div class="row">
               <div class="col-lg-5">

                {% for image in data.futured_image.all %}

                <div id="swiper-gallery">
                  <div class="swiper gallery-top">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide" style="background-image: url( {{image.photo.url}} )">
                        <a href="{{ image.photo.url }}" data-fancybox="gallery-{{ data.id }}" style="display: block; width: 100%; height: 100%;"></a>
                      </div>
                      <div class="swiper-slide" style="background-image: url({{image.photo.url}})">
                        <a href="{{ image.photo.url }}" data-fancybox="gallery-{{ data.id }}" style="display: block; width: 100%; height: 100%;"></a>

                      </div>
                      <div class="swiper-slide" style="background-image: url({{image.photo.url}})">
                        Slide 3
                      </div>
                      <div class="swiper-slide" style="background-image: url({{image.photo.url}})">
                        Slide 4
                      </div>
                      <div class="swiper-slide" style="background-image: url({{image.photo.url}})">
                        Slide 5
                      </div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-white"></div>
                    <div class="swiper-button-prev swiper-button-white"></div>
                  </div>
                  <div class="swiper gallery-thumbs">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide" style="background-image: url({{image.photo.url}})">
                      </div>
                      <div class="swiper-slide" style="background-image: url({{image.photo.url}})">
                      </div>
                      <div class="swiper-slide" style="background-image: url({{image.photo.url}})">
                      </div>
                      <div class="swiper-slide" style="background-image: url({{image.photo.url}})">
                      </div>
                      <div class="swiper-slide" style="background-image: url({{image.photo.url}})">
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}





               </div>
               <!-- end col -->
               <div class="col-lg-7">
                  <!-- Product title -->
                  <h3 class="mt-0">{{data.title}} <a href="javascript: void(0);" class="text-muted"><i class="mdi mdi-square-edit-outline ms-2"></i></a> </h3>
                  <p class="mb-1">{{data.create_at}}</p>
                  <p class="font-16">
                     <span class="text-warning mdi mdi-star">{{data.category}}</span>
                     <span class="text-warning mdi mdi-star">{{data.city}}</span>
                  </p>
                  <!-- Product description -->
                  <div class="mt-4">
                     <h3>{{data.price}}</h3>
                  </div>
                  <div class="mt-4">
                     <h6 class="font-14">Açıklama:</h6>
                     <p>{{data.description|safe}} </p>
                  </div>
               </div>
               <!-- end col -->
            </div>
            <!-- end row-->
         </div>
         <!-- end card-body-->
      </div>
      <!-- end card-->
   </div>
   <!-- end col-->
   <div class="col-lg-8 mt-4">
    <div class="card">
       <div class="card-body">
        <h6 class="card-title">İlan Sahibi</h6>
        <div class="d-flex">
          <div class="avatar-wrapper">
             <div class="avatar me-4">
                <a href="{% url 'profile' data.user.username %}">
                {% if data.user.profilepicturemodel.profile_photo %}
                {% with profile_photo_url=data.user.profilepicturemodel.profile_photo.url %}
                <img src="{{ profile_photo_url }}" alt="Avatar" class="rounded-circle" />
                {% endwith %}
                {% else %}
                <img src="{static 'assets/img/avatars/11.png' %}" alt="Avatar" class="rounded-circle" />
                {% endif %}
                </a>
             </div>
          </div>
          <div class="d-flex flex-column">
             <a href="{% url 'profile' data.user.username %}">
                <h6 class="mb-1">{{data.user.first_name}} {{data.user.last_name}}</h6>
             </a>
             <small>{{data.user.educationalinformationmodel.University}} - {{data.user.educationalinformationmodel.Department}}</small>
          </div>
       </div>
      </div>
    </div>
  </div>

  <div class="col-lg-8 mt-4">
    <div class="card">
       <div class="card-body">
        <h6 class="card-title">İletişim</h6>

        {{data.phone_number}}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block extra_javascript %}
<script src="{% static 'assets/vendor/libs/swiper/swiper.js' %}"></script>
<script src="{% static 'assets/js/ui-carousel.js' %}"></script>
<script src="{% static 'assets/fancybox/jquery.fancybox.min.js' %}"></script>

{% endblock extra_javascript %}