{% extends 'partials/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'assets/vendor/libs/swiper/swiper.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendor/css/pages/ui-carousel.css' %}" />
<link rel="stylesheet" href="{% static 'assets/fancybox/jquery.fancybox.min.css' %}">
{% endblock extra_css%}
{% block content %}
<div class="row justify-content-center">
   <div class="col-lg-8 mb-4">
      <button type="button" onclick="history.back()" class="btn btn-sm btn-label-primary rounded-pill waves-effect">
      <span class="ti-xs ti ti-chevron-left me-2"></span>Geri Dön
      </button>
   </div>
</div>
<div class="row justify-content-center">
   <div class="col-lg-8">
      {% if messages %}
      {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
         {{ message }}
      </div>
      {% endfor %}
      {% endif %}
   </div>
</div>

<div class="row justify-content-center">
   <div class="col-lg-8 d-flex justify-content-between">
      <h1 class="fw-bold mb-0 mt-0">{{ data.title }}</h1>
      <div class="dropdown">
         <button class="btn btn-text-primary rounded-pill border-1 p-2 me-n1 bg-label-primary" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <i class="ti ti-dots-vertical ti-sm"></i>
         </button>
         <div class="dropdown-menu dropdown-menu-end" aria-labelledby="MonthlyCampaign">
            <a class="dropdown-item" href="javascript:void(0);">Şikayet Et</a>
            {% if data.user.username == user.username or user.is_superuser %}
            <a class="dropdown-item" href="{% url 'marketplace_edit' slug=data.slug %}">Düzenle</a>
            <a class="dropdown-item text-danger" href="#"
               data-bs-toggle="modal" data-bs-target="#modalCenter_{{data.id}}">Sil</a>
            {%endif%}
         </div>
      </div>
   </div>
</div>
<!-- İlan Fotoğrafları -->
<div class="row justify-content-center mt-3">
   <div class="col-lg-4">
      <div class="card card-border-shadow-primary">
         <div id="swiper-gallery">
            <div class="swiper gallery-top">
               <div class="swiper-wrapper">
                  {% for image in data.images.all %}
                  <div class="swiper-slide" style="background-image: url( {{image.image.url}} )">
                     <a href="{{ image.image.url }}" data-fancybox="gallery-{{ data.id }}" style="display: block; width: 100%; height: 100%;"></a>
                  </div>
                  {% endfor %}
               </div>
               <!-- Add Arrows -->
               <div class="swiper-button-next swiper-button-white"></div>
               <div class="swiper-button-prev swiper-button-white"></div>
            </div>
            <div class="swiper gallery-thumbs">
               <div class="swiper-wrapper">
                  {% for image in data.images.all %}
                  <div class="swiper-slide" style="background-image: url({{image.image.url}})">
                  </div>
                  {% endfor %}
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- İlan Bilgileri -->
   <div class="col-lg-4">
      <div class="card card-border-shadow-primary mb-4">
         <div class="card-header bg-label-primary mb-4">
            <h5 class="text-primary mb-0 fw-bold">İlan Detayları</h5>
         </div>
         <div class="card-body">
            <h4 class="card-title fw-bold text-primary">{{ data.currency }}{{ data.price }}</h4>
            <p class="card-text"><strong>İlan Tarihi:</strong> {{ data.create_at }}</p>
            <p class="card-text"><strong>Kategori:</strong> {{ data.category.name }}</p>
            <p class="card-text"><strong>Konum:</strong> {{ data.country }}, {{ data.city.name }}</p>
            <p class="card-text"><strong>Telefon:</strong> {{ data.phone_number }}</p>
            <p class="card-text"><strong>Adres:</strong> {{ data.address }}</p>
         </div>
      </div>
      <div class="card card-border-shadow-primary">
         <div class="card-header bg-warning mb-4">
            <h5 class="text-white mb-0 fw-bold">Yazar</h5>
         </div>
         <div class="card-body d-flex align-items-center">
            <a href="{% url 'profile' data.user.username %}">
               <div class="avatar avatar-lg me-3">
                  {% if data.user.profile_photo.profile_photo %}
                  <img src="{{ data.user.profile_photo.profile_photo.url }}" 
                     class="rounded-circle" 
                     alt="Yazar Profil Fotoğrafı">
                  {% else %}
                  <span class="avatar-initial rounded-circle bg-label-primary">{{ data.user.first_name|first }}{{ data.user.last_name|first }}</span>
                  {% endif %}
               </div>
            </a>
            <a href="{% url 'profile' data.user.username %}">
               <div>
                  <h5 class="mb-1">{{ data.user.first_name }} {{ data.user.last_name }}</h5>
                  <small class="text-body">{{ data.user.educational_information.university }} > {{ data.user.educational_information.department }} > {{ data.user.educational_information.status }}</small>
               </div>
            </a>
         </div>
      </div>
   </div>
</div>
<!-- İlan Açıklaması -->
<div class="row justify-content-center mt-4">
   <div class="col-lg-8">
      <div class="card card-border-shadow-primary">
         <div class="card-header bg-primary">
            <h5 class="text-white mb-0 fw-bold">Açıklama</h5>
         </div>
         <div class="card-body">
            <p class="card-text">{{ data.description | safe }}</p>
         </div>
      </div>
   </div>
</div>
<!-- Delete MarketPlace Modal -->
<div class="modal fade" id="modalCenter_{{data.id}}" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="modalCenterTitle">Silme Uyarısı</h5>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           <p>Geri Getirilemeyecek Şekilde Silinecektir. Silmek İstediğinizden Emin Misiniz?
           </p>
        </div>
        <div class="modal-footer">
           <a class="btn btn-primary" href="{% url 'marketplace_delete' data.id %}">Sil</a>
           <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Vazgeç</button>
        </div>
     </div>
  </div>
</div>
{% endblock content %}
{% block extra_javascript %}
<script src="{% static 'assets/vendor/libs/swiper/swiper.js' %}"></script>
<script src="{% static 'assets/js/ui-carousel.js' %}"></script>
<script src="{% static 'assets/fancybox/jquery.fancybox.min.js' %}"></script>
{% endblock extra_javascript %}